---
layout: app
path: home
---

<section class="essence-paragraph our-mission">
  <h2 class="essence-paragraph__heading">
    {{ heroHeading }}
    <img
      class="icon-arrow-down"
      src="./static/img/icons/angle-arrow-down.svg"
      alt="decorative angled arrow"
      role="presentation"
    />
  </h2>
  <p class="essence-paragraph__body-text">
    ESSENCE blog serves as a sanctuary for thoughts, a space where clarity meets
    inspiration. Each post is crafted with intention, guiding you to reflect on
    what truly matters. Join us on a journey of discovery, as we explore the art
    of simplicity and the profound impact of living with purpose.
  </p>
</section>

<section id="archive-list">
  <!-- prettier-ignore -->
  {{ content | safe }}
  <!-- prettier-ignore -->
</section>
