---
layout: app
---

<section class="essence-paragraph our-mission">
  <h2 class="essence-paragraph__heading">
    Our {{ category }}
    <img
      class="icon-arrow-down"
      src="./static/img/icons/angle-arrow-down.svg"
      alt="decorative angled arrow"
      role="presentation"
    />
  </h2>
  <p class="essence-paragraph__body-text">{{ heroParagraph }}</p>
</section>

<section class="archive-section" id="archive-list">
  <div class="archive-header">
    <h2 class="archive-header__heading h1">
      {{ category }} <br />
      archives
    </h2>
    <p class="archive-header__sub-heading">{{ subheading }}</p>
  </div>

  <div class="archive-list">
    <!-- prettier-ignore -->
    {{ content | safe }}
    <!-- prettier-ignore -->
  </div>
</section>

{% include "./partials/resources.html" %}
