---
layout: app
---

<section class="essence-paragraph our-mission">
  <h2 class="essence-paragraph__heading">
    Our {{ category }}
    <img
      class="icon-arrow-down"
      src="./static/img/icons/angle-arrow-down.svg"
      alt="decorative angled arrow"
      role="presentation"
    />
  </h2>
  <p class="essence-paragraph__body-text">{{ heroParagraph }}</p>
</section>

<section id="archive-list">
  <!-- prettier-ignore -->
  {{ content | safe }}
  <!-- prettier-ignore -->
</section>

{% include "./partials/resources.html" %}
