---
title: Blog
layout: app
cta1:
  url: "/"
  title: "Return Home"
---

<section class="hero-section blog__hero">
  <!-- <h1>Access the power <br />of Decap CMS</h1> -->
  <h1 class="h1">{{title}}</h1>
  <p>The things we've learned. The journal we keep.</p>
  <!-- <p>
    Powered by Decap CMS, AXYS Creative let's you <br />
    control the content of your site, with ease.
  </p>
  -->

  <div class="cta-wrapper">
    <a class="cta-1 tab-element-page" href="{{ cta1.url }}">{{ cta1.title }}</a>
  </div>

  <!-- prettier-ignore -->
  {% include "./partials/social-media.html" %}
  <!-- prettier-ignore -->
</section>

<section id="blog-list">
  <!-- prettier-ignore -->
  {{ content | safe }}
  <!-- prettier-ignore -->
</section>
