---
layout: app
---

<!-- prettier-ignore -->
{% set pathParts = page.filePathStem | split('/') %} 
{% set category =pathParts[2] %}
<!-- prettier-ignore -->

<section class="post-hero hero-section">
  <span class="post-hero__category h6">{{ category | capitalize }}</span>
  <h1 class="post-hero__heading">{{title}}</h1>
  <p class="post-hero__author h6">
    <span>
      by {{ author }}
    </span>
    <time>
      {{ date | readableDate }}
    </time>
  </p>
</section>

<section class="post-body">
  <article>{{ content | safe }}</article>
</section>
