---
layout: "app"
---

<!-- prettier-ignore -->
{% set pathParts = page.filePathStem | split('/') %} 
{% set category = pathParts[2] %}

<section class="post-hero hero-section">
  <div class="post-hero__header">
    <span class="post-hero__category">
      {{ category | capitalize }}
      <span class="divider">|</span>
      Ep. {{ episode }}
    </span>
    <h1 class="post-hero__heading">{{title_short}}</h1>
    <p class="post-hero__guest">
      <span>Featuring: {{ guest }}</span>
    </p>
  </div>
</section>

<section class="video-section dark-section">
  <img
    class="video-section__poster"
    src="{{ poster }}"
    alt="{{ title_short }}"
  />
  <button
    class="video-section__play-btn"
    type="button"
    aria-controls="video-dialog"
    aria-haspopup="dialog"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
      <path
        d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"
      />
    </svg>
  </button>
  <dialog class="video-section__dialog dialog" id="video-dialog">
    <div class="mouse-cursor mouse-cursor__video" aria-hidden="true">
      <p>Close</p>
    </div>

    <div class="dialog__close-btn-wrapper">
      <button
        class="dialog__close-btn"
        type="button"
        aria-controls="video-dialog"
        aria-label="Close newsletter dialog"
        aria-expanded="false"
      >
        <div class="dots-wrapper">
          <span class="dots-wrapper__dot top-left"></span>
          <span class="dots-wrapper__dot top-right"></span>
          <span class="dots-wrapper__dot center-dot"></span>
          <span class="dots-wrapper__dot bottom-left"></span>
          <span class="dots-wrapper__dot bottom-right"></span>
        </div>
      </button>
    </div>
    <!-- <button class="video-section__close-modal" type="button">Close</button> -->
    {{ video_embed | safe}}
  </dialog>
</section>

<section class="post-body post-body__podcast">
  <h2>Episode Recap</h2>
  <article>{{ content | safe }}</article>
</section>

<section class="podcast-quote podcast-quote--{{ quote_side }} dark-section">
  <blockquote class="podcast-quote__blockquote">
    “{{ quote }}”
    <span class="podcast-quote__blockquote-guest">&mdash; {{ guest }}</span>
  </blockquote>
  <figure class="podcast-quote__image">
    <img src="{{ quote_image }}" alt="{{ guest }}" />
  </figure>
</section>

<!-- prettier-ignore -->
<nav class="post-footer-nav">
  
  <a
    href="{{ latestPost.url }}"
    class="post-body__nav-link simple-link simple-link--arrow-left tab-element-page"
    target="_self"
  >
    <span class="simple-link__span-outter">
      <span class="simple-link__span-inner">Previous Episode</span>
      <span class="simple-link__span-inner" aria-hidden="true">
        Previous Episode
      </span>
    </span>
    <svg
    class="icon-arrow-right gsap-animate"
    width="16"
    height="10"
    viewBox="0 0 16 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1 5H14L11 1L15 5L11 9L14.5 5"
      stroke="#0E0E0E"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="svg-elem-1"
    ></path>
  </svg>
  </a>

  <a
    href="{{ latestPost.url }}"
    class="post-body__nav-link simple-link tab-element-page"
    target="_self"
  >
    <span class="simple-link__span-outter">
      <span class="simple-link__span-inner">Next Episode</span>
      <span class="simple-link__span-inner" aria-hidden="true">
        Next Episode
      </span>
    </span>
    <svg
      class="icon-arrow-right gsap-animate"
      width="16"
      height="10"
      viewBox="0 0 16 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 5H14L11 1L15 5L11 9L14.5 5"
        stroke="#0E0E0E"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="svg-elem-1"
      ></path>
    </svg>
  </a>
  
</nav>
