@keyframes fade-in {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}

//
// Nav animations
//

@keyframes nav-link-open {
  from {
    translate: 0 100%;
  }
  to {
    translate: 0 0;
  }
}

@keyframes nav-link-default {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 100%;
  }
}

@keyframes nav-image-default {
  0% {
    left: 0;
    right: auto;
    object-position: left;
    width: 100%;
  }
  20% {
    left: auto;
    right: 0;
    object-position: right;
    width: 100%;
  }
  100% {
    left: auto;
    right: 0;
    object-position: right;
    width: 0;
  }
}

@keyframes nav-image-active {
  0% {
    left: 0;
    right: auto;
    object-position: left;
    width: 0;
  }
  80% {
    left: 0;
    right: auto;
    object-position: left;
    width: 100%;
  }
  100% {
    left: auto;
    right: 0;
    object-position: right;
    width: 100%;
  }
}

//
// Utility
//

@keyframes classic-link-default {
  0% {
    right: auto;
    left: 0;
    width: 100%;
  }
  20% {
    right: 0;
    left: auto;
    width: 100%;
  }
  100% {
    right: 0;
    left: auto;
    width: 0;
  }
}

@keyframes classic-link-hover {
  0% {
    right: auto;
    left: 0;
    width: 0;
  }
  80% {
    right: auto;
    left: 0;
    width: 100%;
  }
  100% {
    right: 0;
    left: auto;
    width: 100%;
  }
}

//
// Header logo
//

@keyframes slide-up {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -100%;
  }
}

@keyframes logo-text-default {
  from {
    translate: 0 100%;
  }
  to {
    translate: 0 0;
  }
}

@keyframes logo-text-scroll-active {
  0% {
    translate: 0 0;
  }
  95% {
    translate: 0 -100%;
    opacity: 1;
  }
  96% {
    translate: 0 -100%;
    opacity: 0;
  }
  100% {
    translate: 0 100%;
    opacity: 0;
  }
}

@keyframes logo-text-default-alt {
  0% {
    translate: 0 -100%;
  }
  95% {
    translate: 0 -200%;
    opacity: 1;
  }
  96% {
    translate: 0 -200%;
    opacity: 0;
  }
  100% {
    translate: 0 0%;
    opacity: 0;
  }
}

//

@keyframes jump {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -4px;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes cta-default {
  from {
    top: var(--cta-position);
    // top: calc(150vh - $body-padding * 1.5);
  }
  to {
    top: var(--cta-position);
  }
}

//
// Home Hero
//

@keyframes text-group-1 {
  0% {
    translate: 50% 0;
  }
  20% {
    translate: 50% 0;
  }
  32% {
    translate: 50% 0;
  }
  68% {
    translate: 0 0;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes text-letters-1 {
  0% {
    translate: 0 100%;
  }
  20% {
    translate: 0 0;
  }
  32% {
    translate: 0 0;
  }
  68% {
    translate: 0 -104%;
  }
  100% {
    translate: 0 -104%;
  }
}

@keyframes text-letters-2 {
  0% {
    translate: 0 100%;
  }
  20% {
    translate: 0 100%;
  }
  32% {
    translate: 0 100%;
  }
  68% {
    translate: 0 0;
  }
  100% {
    translate: 0 0;
  }
}

//

@keyframes text-group-1-md {
  0% {
    translate: 0 0;
  }
  20% {
    translate: 0 0;
  }
  32% {
    translate: 0 0;
  }
  68% {
    translate: -16px 0;
  }
  100% {
    translate: -16px 0;
  }
}

@keyframes text-group-2-md {
  0% {
    translate: 0 0;
  }
  20% {
    translate: 0 0;
  }
  32% {
    translate: 0 0;
  }
  68% {
    translate: 16px 0;
  }
  100% {
    translate: 16px 0;
  }
}
