* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--primary-font-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: var(--background-color);
  // background: linear-gradient(#f8f1e4, $white 90%);
  color: var(--primary-font-color);

  & > * {
    max-width: $content-width;
    margin: auto;
  }
}

header {
  & > * {
    z-index: 5;
    position: fixed;
  }

  .header-logo {
    @include left-spacing;
    @include row-center;
    gap: 12px;
    top: 64px;

    @include mq-min("xxxl") {
      left: calc(50% - calc($content-width / 2) + $body-padding);
    }

    @include mq-max("md") {
      top: 38px;
    }

    &:hover,
    &:focus {
      .header-logo__text {
        .letter-wrapper {
          @for $i from 1 through 8 {
            &:nth-of-type(#{$i}) {
              .letter-wrapper__letter:nth-of-type(1),
              .letter-wrapper__letter:nth-of-type(2) {
                $duration: 0.32s + 0.05s * $i;
                $delay: 0.03s * $i;

                animation: slide-up $duration ease $delay forwards;
              }
            }
          }
        }
      }
    }

    &__icon {
      width: 16px;
      transition: 0.2s ease;

      @include mq-max("xxl") {
        width: 14px;
      }
    }

    &__text {
      @include row-start;
      font-size: 20px;
      text-transform: uppercase;

      @include mq-max("xxl") {
        font-size: 18px;
      }

      .letter-wrapper {
        @include column-center(flex-start);
        overflow: hidden;
        height: 24px;

        &__letter:nth-of-type(1) {
          transition: 0.25s ease 0.5s;
          // opacity: 0 !important;
        }
        &__letter:nth-of-type(3) {
          translate: 0 -200%;
          opacity: 0;
        }
      }
    }
  }

  .header-links {
    @include row-center(flex-end);
    @include right-spacing;
    width: calc(100% - $body-padding * 2);
    max-width: $content-width;
    top: 68px;
    gap: 48px;
    z-index: 0;

    @include mq-min("xxxl") {
      right: calc(50% - calc($content-width / 2 - $body-padding));
      width: calc($content-width - $body-padding * 2);
    }

    @include mq-max("xxl") {
      width: calc(100% - $body-padding-xxl * 2);
      gap: 24px;
    }

    @include mq-max("lg") {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -24px;
      width: 100%;
      height: 1px;
      background: rgba($grey-dark, 0.8);
      transition: 0.8s ease 0.2s;
    }

    &__link {
      position: relative;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: var(--link-color);

      &:hover,
      &:focus {
        color: var(--link-color-hover);

        &::after {
          background: var(--primary-font-color);
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        translate: -50% 0;
        bottom: -24px;
        width: 160%;
        height: 1px;
        background: transparent;
        transition: 0.3s ease;
      }
    }

    li {
      @for $i from 1 through 8 {
        &:nth-of-type(#{$i}) {
          a {
            $opacityDelay: 0.5s - 0.06s * $i;
            transition: color 0.3s ease, opacity 0.8s ease $opacityDelay;
          }
        }
      }
    }
  }

  .menu-btn__wrapper {
    @include right-spacing;
    top: 74px;
    translate: 0 -50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    // mix-blend-mode: difference;

    @include mq-min("xxxl") {
      right: calc(50% - calc(1920px / 2) + $body-padding);
    }

    @include mq-max("lg") {
      opacity: 1;
      pointer-events: all;
    }

    @include mq-max("md") {
      top: 50px;
    }

    .menu-btn {
      $btn-size: 18px; // also calculates the gap - keep it an even number

      @include row-center;
      width: $btn-size;
      height: $btn-size;
      transition: 0.2s ease 0s;

      &:hover,
      &:focus {
        scale: 1.1;
      }

      &:active {
        scale: 0.9;
      }

      .dots-wrapper {
        display: flex;
        justify-content: space-between;
        align-content: space-between; // Align content baby!
        flex-wrap: wrap;
        gap: calc($btn-size / 4);
        width: 100%;
        height: 100%;

        rotate: 45deg;
        transition: 0.8s $cubic-ease-sudden-back-strong;

        &__dot {
          width: 6px;
          height: 6px;
          // background: $white;
          background-color: var(--primary-font-color);
          border-radius: 50%;
          transition: 0.3s ease;
        }

        .center-dot {
          @include absolute-center;
          opacity: 0;
          transition: 0.3s ease 0.2s;
        }
      }

      &.menu-active {
        opacity: 1;
        pointer-events: all;

        .dots-wrapper {
          rotate: 90deg;

          .center-dot {
            opacity: 1;
            transition: 0.3s ease 0.6s;
          }
        }
      }
    }

    &.menu-wrapper-page-top {
      transition: opacity 0.3s ease 0.3s;
    }
  }

  .social-media-wrapper {
    @include left-spacing;
    @include column-start;
    translate: -10px 0;
    bottom: $body-padding;

    @include mq-min("xxxl") {
      left: calc(50% - calc($content-width / 2) + $body-padding);
    }

    @media (max-height: 420px) {
      display: none;
    }

    @include mq-max("md") {
      flex-direction: row-reverse;
      bottom: $body-padding-md;
      pointer-events: none;
    }

    &:hover,
    &:focus-within {
      @include social-media-open;
    }

    .social-media-links {
      display: flex;
      flex-direction: column-reverse;
      gap: 8px;
      translate: 0 24px;
      transition: 0.25s ease 0.5s;

      @include mq-max("md") {
        flex-direction: row;
        translate: 0 0;
        gap: 12px;
      }

      @include mq-max("sm") {
        gap: 16px;
      }

      li.magnet {
        opacity: 0;

        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) {
            transition: 0.25s ease 0.05s * $i;

            @include mq-max("md") {
              transition: 0.6s ease 0.06s * $i;
            }
          }
        }
      }

      .social-media-link {
        @include row-center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;

        @include mq-max("sm") {
          width: 24px;
          height: 24px;
        }

        &:hover,
        &:focus {
          .social-media-icon-wrapper {
            translate: 0 -40%;
          }
        }

        .social-media-icon-wrapper {
          @include column-center;
          gap: 24px;
          translate: 0 36%;
          transition: 0.25s ease;

          .social-media-icon {
            path {
              fill: var(--primary-font-color);
            }
          }
        }
      }
    }

    .social-media-toggle {
      @include row-center;

      @include mq-max("md") {
        display: none;
      }

      &__icon {
        width: 36px;
        height: 36px;
        padding: 10px;
        transition: 0.25s ease;
      }

      &__text {
        text-transform: uppercase;
        translate: 0 -1px;
        transition: 0.25s ease 0.4s;
      }
    }
  }

  .cta-wrapper {
    $duration: 0.8s;

    @include row-center;
    position: absolute;
    right: 50%;
    translate: 50% 0;
    gap: 12px;
    transition: $duration ease;
    animation: cta-default $duration ease forwards;

    .cta-1 {
      color: var(--primary-font-color);
      padding: 8px 24px;
      border: 1px solid var(--primary-font-color);
      border-radius: 24px;
    }

    &.scroll-active {
      position: fixed;
      // animation: cta $duration ease forwards;
      right: $body-padding;
      translate: 0 0;

      @include mq-min("xxxl") {
        right: calc(50% - calc($content-width / 2 - $body-padding));
      }
    }

    &.scroll-bottom {
      position: absolute;
      top: auto;
      bottom: 536px;
      animation: unset;
    }
  }

  &.scroll-active {
    .header-logo {
      &:hover,
      &:focus {
        .letter-wrapper {
          @for $i from 1 through 8 {
            $duration: 0.32s + 0.05s * $i;
            $delay: 0.03s * $i;

            &:nth-of-type(#{$i}) {
              .letter-wrapper__letter:nth-of-type(2) {
                animation: logo-2-active $duration ease $delay forwards;
              }
              .letter-wrapper__letter:nth-of-type(3) {
                animation: logo-2-active $duration ease $delay forwards;

                translate: 0 -200%;
                opacity: 1;
                transition: 0.25s ease 0.25s;
              }
            }
          }
        }
      }

      &__text {
        .letter-wrapper {
          @for $i from 1 through 8 {
            $duration: 0.32s + 0.05s * $i;
            $delay: 0.03s * $i;

            &:nth-of-type(#{$i}) {
              .letter-wrapper__letter:nth-of-type(1) {
                animation: slide-up $duration ease $delay forwards;
                opacity: 0;
              }
              .letter-wrapper__letter:nth-of-type(3) {
                // translate: 0 -200%;
                // opacity: 0.2;
                animation: logo-3-active $duration ease $delay forwards;
              }
            }
          }
        }
      }
    }

    .header-links {
      pointer-events: none;
      transition: 0.5s ease 0.5s;

      &::after {
        width: 0;
        transition: 0.6s ease 0s;
      }

      &__link {
        opacity: 0;
      }

      li {
        @for $i from 1 through 8 {
          &:nth-of-type(#{$i}) {
            a {
              transition: opacity 0.3s ease calc(0.04s * $i);
            }
          }
        }
      }
    }

    .menu-btn__wrapper {
      opacity: 1;
      pointer-events: all;
      transition: all 0.3s ease, opacity 0.2s ease 0.6s;
    }

    .social-media-wrapper {
      .social-media-toggle__text {
        translate: -12px -1px;
        opacity: 0;
        pointer-events: none;
        transition: 0.25s ease;

        @include mq-max("md") {
          translate: 0 -1px;
        }
      }
    }
  }

  &.menu-active {
    .header-logo {
      &:hover,
      &:focus {
        // .header-logo__text {
        .letter-wrapper__letter {
          translate: 0 -100%;
        }
        // }
      }

      &__text {
        // .letter-wrapper {
        .letter-wrapper__letter {
          translate: 0 0%;
        }
        // }
      }
    }

    .menu-btn__wrapper {
      opacity: 1;
      pointer-events: all;
    }

    .header-links {
      pointer-events: none;

      &::after {
        width: 0;
      }

      &__link {
        opacity: 0;
      }
    }

    .social-media-wrapper {
      pointer-events: all;
      border: none;

      li.magnet {
        @include mq-max("md") {
          opacity: 1;
        }

        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) {
            @include mq-max("md") {
              transition: 0.6s ease calc(1s + 0.06s * $i);
            }
          }
        }
      }
    }

    .cta-wrapper {
      // $duration: 0.8s;

      // animation: cta-animated $duration ease forwards;
      right: $body-padding;
      translate: 0 0;
    }
  }

  &.header-scroll-bottom {
    .social-media-wrapper {
      @include social-media-open;
      position: absolute;
      bottom: 548px;
      left: $body-padding;

      @include mq-min("xxxl") {
        left: calc(50% - calc($content-width / 2) + $body-padding);
      }

      @include mq-max("xxl") {
        left: $body-padding-xxl;
        bottom: 402px;
      }

      @include mq-max("xl") {
        bottom: 364px;
      }

      @include mq-max("lg") {
        bottom: 484px;
      }

      @include mq-max("md") {
        left: $body-padding-md;
      }
    }

    .menu-btn__wrapper {
      opacity: 0;
      pointer-events: none;
    }
  }
}

nav {
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  // user-select: none;
  z-index: 4;
  transition: background 0s ease 0.4s, opacity 0s ease 1.5s;

  .width-constraint {
    position: relative;
    max-width: $content-width;
    height: 100vh;
    height: 100dvh;
    margin: auto;

    @include mq-max("md") {
      @include column-start;
      overflow: auto;
    }
  }

  .nav-links {
    @include column-start;
    gap: 80px;
    width: 50%;
    pointer-events: none;
    translate: 100% -30%;
    transition: 0.8s cubic-bezier(0.23, 1, 0.62, 1);

    &:hover,
    &:focus-within {
      .nav-link {
        opacity: 0.5;
      }
    }

    @include mq-max("xxl") {
      gap: 64px;
    }

    @include mq-max("lg") {
      gap: 48px;
    }

    @include mq-max("md") {
      gap: 12px;
      padding: 64px 0;
      translate: $body-padding-md 0;
    }

    @media (max-height: 480px) {
      padding: 360px 0 64px;
    }

    li {
      display: flex;
      overflow: hidden;

      &:focus-within {
        border-radius: 4px;
        box-shadow: 0 0 0 3px rgba(#2353c1, 0.75), 0 0 0 5px rgba(#fff, 0.75);
      }

      &:first-of-type {
        margin-block-start: 520px;

        @include mq-max("xxl") {
          margin-block-start: 464px;
        }

        @include mq-max("lg") {
          margin-block-start: 360px;
        }

        @include mq-max("md") {
          margin-block-start: unset;
        }
      }
      &:last-of-type {
        margin-block-end: 464px;

        @include mq-max("xxl") {
          margin-block-end: 420px;
        }

        @include mq-max("lg") {
          margin-block-end: 248px;
        }

        @include mq-max("md") {
          margin-block-end: unset;
        }
      }

      // &:nth-of-type(even) {
      //   margin-inline-start: 48px;
      // }

      @for $i from 1 through 8 {
        &:nth-of-type(#{$i}) {
          $transition: 0.25s + $i * 0.05s;
          $delay: 0s + $i * 0.05s;

          .nav-link {
            translate: 0 0;
            // transition: 0.2s ease, translate $transition ease $delay;
            animation: nav-link-default $transition ease $delay forwards;
          }
        }
      }
    }

    .nav-link {
      @extend .h1;
      display: flex;
      text-transform: uppercase;
      line-height: 100%;
      height: 100%;
      // translate: 0 100%;
      // transition: 0.2s ease, translate 0.3s ease 0.6s;
      transition: 0.2s ease; // for hover
      // animation: nav-link-default 0.4s ease forwards;

      &:hover,
      &:focus {
        opacity: 1;
      }

      @include mq-max("lg") {
        font-size: 48px;
      }

      @include mq-max("md") {
        font-size: 36px;
      }

      &__number {
        font-size: 14px;
        translate: 0 -42%;

        @include mq-max("lg") {
          font-size: 12px;
        }

        @include mq-max("md") {
          display: none;
        }
      }
    }
  }

  .nav-abstract {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
    width: 100vw;
    height: 0;
    // background: $white;
    background: #fff;
    transition: 1.2s $cubic-ease-sudden 0.5s, width 0s;
    // animation: nav-abstract-default 0.75s ease 0s forwards;
    z-index: -1;
  }

  &.menu-active {
    opacity: 1;
    pointer-events: all;
    background: var(--background-color);
    transition: background 0s ease 1s;

    .nav-abstract {
      height: 100%;
      pointer-events: none;
      // animation: nav-abstract-open 0.75s ease 0s forwards;
      transition: all 1.25s $cubic-ease-sudden 0s, width 0s;
    }

    .nav-links {
      opacity: 1;
      pointer-events: all;

      li {
        @for $i from 1 through 8 {
          &:nth-of-type(#{$i}) {
            $transition: 0.5s + $i * 0.05s;
            $delay: 0.5s + $i * 0.05s;

            .nav-link {
              translate: 0 100%;
              animation: nav-link-open $transition ease $delay forwards;

              // make me accessible
            }
          }
        }
      }
    }
  }
}

section {
  padding: 196px $body-padding * 2.5;

  @include mq-max("xxl") {
    padding: 148px $body-padding-xxl * 2.5;
  }

  @include mq-max("md") {
    padding: 96px $body-padding-md * 2.5;
  }

  &.essence-paragraph {
    padding: 316px $body-padding * 2.5;

    @include mq-max("xxl") {
      gap: 32px;
      padding: 296px $body-padding-xxl * 2.5;
    }
    @include mq-max("md") {
      gap: 24px;
      padding: 164px $body-padding-md * 2.5;
    }
  }
}

footer {
  padding: $body-padding;
  position: relative;
  @include column-center;
  gap: 248px;

  @include mq-max("xxl") {
    gap: 164px;
  }

  @include mq-max("md") {
    padding: $body-padding-md;
  }

  & > * {
    width: 100%;
  }

  .site-footer__top {
    @include row-start(space-between);

    .footer-nav-links {
      @include column-start;
      flex-wrap: wrap;
      gap: 40px;
      width: 212px;
      height: 212px;
      margin-inline-start: 164px;

      @include mq-max("xl") {
        margin-inline-start: 96px;
      }

      .footer-nav-link {
        text-transform: uppercase;
      }
    }

    .footer-cta-title {
      @extend .h6;
      text-transform: uppercase;
      font-style: normal;
      text-align: right;
    }
  }

  .site-footer__bottom {
    @include row-end(space-between);

    @include mq-max("lg") {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .brand-name-wrapper {
      @include mq-max("lg") {
        translate: -8px 0;
      }

      &__locations {
        @include row-center(flex-start);
        gap: 64px;
        translate: 16px 0;

        @include mq-max("xxl") {
          gap: 48px;
          translate: 10px 0;
        }
      }

      &__brand-name {
        font-size: 224px;
        line-height: 1;

        @include mq-max("xxl") {
          font-size: 164px;
        }

        @include mq-max("xl") {
          font-size: 124px;
        }

        @include mq-max("lg") {
          font-size: 20vw;
          translate: -4px 0;
        }

        @include mq-max("md") {
          font-size: 21.4vw;
        }
      }
    }

    .credits {
      @include row-center;
      gap: 48px;
      translate: 0 -16px;

      @include mq-max("xxl") {
        gap: 24px;
      }

      @media (max-width: 1280px) {
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
      }

      @include mq-max("lg") {
        flex-direction: row;
        margin-bottom: 24px;
      }

      small {
        text-align: right;
        flex-shrink: 0;
      }
    }
  }
}

h1 {
  @extend .h1;
}
h2 {
  @extend .h2;
}
h3 {
  @extend .h3;
}
h4 {
  @extend .h4;
}

p,
span,
figcaption,
small {
  color: var(--primary-font-color);
  font-family: $brand-font-family-body;
}

a {
  color: var(--primary-font-color);
  font-family: $brand-font-family-body;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
}
