* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $brand-font-family-body;
  color: var(--primary-font-color);

  &::selection {
    background-color: rgba($yellow, 0.5);
  }

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--primary-font-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }
}

// Doesn't work with Lenis :(
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden; // Adding to html allows scrolling when the nav is open
  position: relative;
  background-color: var(--background-color);
  color: var(--primary-font-color);

  & > * {
    max-width: $content-width;
    margin: auto;
  }

  &:active {
    .mouse-cursor {
      p {
        scale: 0.75 !important;
      }
    }
  }
}

header {
  & > * {
    z-index: 5;
    position: fixed;
  }

  .header-logo {
    @include left-spacing;
    @include row-center;
    gap: 8px;
    top: 64px;
    z-index: 6;
    mix-blend-mode: difference;

    @include mq-max("md") {
      top: 38px;
    }

    &:hover,
    &:focus {
      .header-logo__text {
        .letter-wrapper {
          @for $i from 1 through 8 {
            &:nth-of-type(#{$i}) {
              .letter-wrapper__letter:nth-of-type(1),
              .letter-wrapper__letter:nth-of-type(2) {
                $duration: 0.32s + 0.05s * $i;
                $delay: 0.03s * $i;

                animation: slide-up $duration ease $delay forwards;

                @include mq-motion-reduce {
                  animation-duration: 0s;
                  animation-delay: 0s;
                }
              }

              .letter-wrapper__letter:nth-of-type(1) {
                translate: 0 0;
              }
            }
          }
        }
      }
    }

    &__icon {
      width: 24px;
      transition: 0.2s ease;
      filter: invert(1);

      @include mq-max("xxl") {
        width: 22px;
      }
    }

    &__text {
      @include row-start;
      font-size: 20px;
      text-transform: uppercase;
      overflow: hidden;

      @include mq-max("xxl") {
        font-size: 18px;
      }

      .letter-wrapper {
        @include column-center(flex-start);
        height: 24px;

        &__letter {
          color: var(--background-color);
        }

        @for $i from 1 through 8 {
          $duration: 0.32s + 0.05s * $i;
          $delay: 0.03s * $i;

          &:nth-of-type(#{$i}) {
            .letter-wrapper__letter:nth-of-type(1) {
              translate: 0 100%;
              animation: logo-text-default $duration ease $delay forwards;

              @include mq-motion-reduce {
                animation-duration: 0s;
                animation-delay: 0s;
              }
            }

            .letter-wrapper__letter:nth-of-type(2) {
              translate: 0 -100%;
              animation: logo-text-default-alt $duration ease $delay forwards;

              @include mq-motion-reduce {
                animation-duration: 0s;
                animation-delay: 0s;
              }
            }
          }
        }
      }
    }
  }

  .header-links {
    @include row-center(flex-end);
    @include right-spacing;
    width: calc(100% - $body-padding * 2);
    max-width: $content-width;
    top: 68px;

    @include mq-min("xxxl") {
      right: calc(50% - calc($content-width / 2 - $body-padding));
      width: calc($content-width - $body-padding * 2);
    }

    @include mq-max("xxl") {
      width: calc(100% - $body-padding-xxl * 2);
    }

    @include mq-max("lg") {
      display: none;
    }

    // Underline when at the top of page
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -24px;
      width: 100%;
      height: 1px;
      background: rgba($grey-dark, 0.8);

      @include mq-motion-allow {
        transition: 0.8s ease 0.3s;
      }
    }

    &:hover,
    &:focus-within {
      .header-links__link {
        color: var(--secondary-font-color);
      }
    }

    &__link {
      position: relative;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: var(--link-color);
      padding: 8px 24px;
      outline: none;

      @include mq-max("xxl") {
        padding: 4px 12px;
      }

      &:hover,
      &:focus {
        color: var(--primary-font-color) !important;
      }

      // REVISIT ME for active/current page
      // &.active {
      //   border: 1px solid var(--primary-font-color);
      //   border-radius: $radius;
      // }
    }

    li {
      position: relative;

      @for $i from 1 through 8 {
        &:nth-of-type(#{$i}) {
          a {
            $opacityDelay: 0.8s - 0.06s * $i;

            @include mq-motion-allow {
              transition: color 0.3s ease, opacity 0.8s ease $opacityDelay;
            }
          }
        }
      }
    }

    li.header-links__hover-indicator {
      position: absolute;
      left: 94%;
      bottom: -9px;
      width: 80px;
      height: 38px;
      border: 1px solid transparent;
      border-radius: $radius;
      pointer-events: none;

      @include mq-motion-allow {
        // transition: 0.5s $cubic-ease-sudden-back, border 0.5s;
        transition: 0.5s $cubic-ease, border 0.5s;
      }

      &.show-indicator {
        border: 1px solid var(--primary-font-color);
      }
    }
  }

  .menu-btn__wrapper {
    // DUPLICATE CODE AT .dialog__close-btn-wrapper
    // MAKE SURE TO UPDATE THAT AS WELL or consolodate the differences
    @include right-spacing;
    @include menu-btn-hidden;
    top: 74px;
    translate: 0 -50%;
    mix-blend-mode: difference;
    transition: 0.5s ease 0s;

    @include mq-max("lg") {
      opacity: 1;
      pointer-events: all;
      rotate: 0deg;
      scale: 1;
    }

    @include mq-max("md") {
      top: 50px;
    }

    @include mq-max("sm") {
      scale: 0.9;
    }

    .menu-btn {
      $btn-size: 40px; // also calculates the gap - keep it an even number

      @include row-center;
      width: $btn-size;
      height: $btn-size;
      padding: 10px;
      transition: 0.2s ease 0s;

      &:hover,
      &:focus {
        scale: 1.1;
      }

      &:active {
        scale: 0.9;
      }

      .dots-wrapper {
        display: flex;
        justify-content: space-between;
        align-content: space-between; // Align content baby!
        flex-wrap: wrap;
        gap: calc($btn-size / 6);
        width: 100%;
        height: 100%;

        rotate: 45deg;
        transition: 0.8s $cubic-ease-sudden-back-strong;

        &__dot {
          width: 6px;
          height: 6px;
          // background-color: var(--primary-font-color);
          background-color: var(--background-color);
          border-radius: 50%;
          transition: 0.3s ease;
        }

        .center-dot {
          @include absolute-center;
          opacity: 0;
          transition: 0.3s ease 0.2s;
        }
      }

      &.menu-active {
        opacity: 1;
        pointer-events: all;

        .dots-wrapper {
          rotate: 90deg;

          .center-dot {
            opacity: 1;
            transition: 0.3s ease 0.6s;
          }
        }
      }
    }

    &.menu-wrapper-page-top {
      transition: opacity 0.3s ease 0.3s;
    }
  }

  .social-media-wrapper {
    @include left-spacing;
    @include column-start;
    translate: -10px 0;
    bottom: $body-padding;
    mix-blend-mode: difference;

    @include mq-max("md") {
      flex-direction: row-reverse;
      bottom: $body-padding-md;
      pointer-events: none;
    }

    @include mq-max("sm") {
      bottom: 44px;
      translate: -4px 0;
    }

    &:hover,
    &:focus-within {
      @include social-media-open;
    }

    .social-media-links {
      display: flex;
      flex-direction: column-reverse;
      gap: 8px;
      translate: 0 24px;
      transition: 0.25s ease 0.5s;

      @include mq-max("md") {
        flex-direction: row;
        translate: 0 0;
        gap: 12px;
      }

      @include mq-max("sm") {
        gap: 24px;
      }

      li.magnet {
        opacity: 0;

        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) {
            transition: all 0.5s $cubic-ease, opacity 0.25s ease 0.05s * $i;

            @include mq-max("md") {
              transition: all 0.5s $cubic-ease, opacity 0.6s ease 0.06s * $i;
            }
          }
        }
      }

      .social-media-link {
        @include row-center;
        width: 36px;
        height: 36px;
        overflow: hidden;

        @include mq-max("sm") {
          width: 24px;
          height: 24px;
        }

        &:hover,
        &:focus {
          .social-media-icon-wrapper {
            translate: 0 -40%;
          }
        }

        .social-media-icon-wrapper {
          @include column-center;
          gap: 24px;
          translate: 0 36%;
          transition: 0.25s ease;

          img {
            filter: invert(1);
          }
        }
      }
    }

    .social-media-toggle {
      @include row-center;

      @include mq-max("md") {
        display: none;
      }

      &__icon {
        width: 36px;
        height: 36px;
        padding: 10px;
        transition: 0.25s ease;
        filter: invert(1);
        // mask-image: url(../img/icons/icon-social-links.svg);
      }

      &__label {
        color: var(--background-color);
        text-transform: uppercase;
        translate: 0 -1px;
        transition: 0.25s ease 0.4s;

        @include mq-max("xl") {
          display: none;
        }
      }
    }
  }

  .cta-wrapper {
    $edge-spacing: 22px;
    $edge-spacing-scroll: 14px;
    $duration: 0.8s;

    @include row-center;
    position: absolute;
    right: calc(50vw - calc(var(--cta-home-width) / 2));
    gap: 12px;
    transition: $duration ease;
    animation: cta-default $duration ease forwards;

    @include mq-motion-reduce {
      transition: none;
      animation: cta-default 0s ease forwards;
    }

    @include mq-max("md") {
      right: calc(50vw - calc(var(--cta-home-width-md) / 2));
    }

    .cta {
      @include cta-default-size;
      position: relative;
      text-transform: uppercase;
      color: var(--primary-font-color);
      border: 1px solid var(--primary-font-color);
      border-radius: $radius;
      isolation: isolate;
      overflow: hidden;

      @include mq-motion-allow {
        opacity: 0;
        pointer-events: none;
        transition: 0.4s ease, background 0.25s ease 0s, width 0.4s ease 0.3s;
        animation: fade-in 1s ease 1.5s forwards;
      }

      &:hover,
      &:focus {
        border-color: var(--primary-accent-color);

        &::after {
          left: 0;
        }

        span:nth-of-type(1) {
          color: var(--background-color);
          @include mq-motion-allow {
            transition: 0.4s ease 0.3s, color 0.3s ease 0.2s;
          }
        }

        span:nth-of-type(2) {
          color: var(--background-color);
          @include mq-motion-allow {
            transition: 0.3s ease 0.4s, color 0.3s ease 0.3s;
          }
        }

        .cta__icon {
          filter: invert(1);

          @include mq-motion-allow {
            transition: 0.3s ease, filter 0.3s ease 0.3s !important;
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        // background-color: var(--primary-font-color);
        background-color: var(--primary-accent-color);
        border: none;
        border-radius: $radius - calc($radius / 2);
        z-index: -1;

        @include mq-motion-allow {
          transition: 0.75s $cubic-ease-sudden;
        }
      }

      & > * {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
      }

      span:nth-of-type(1) {
        left: $edge-spacing;

        @include mq-motion-allow {
          transition: 0.4s ease 0.3s, color 0.3s ease 0.4s;
        }

        @include mq-max("md") {
          left: calc($edge-spacing - 4px);
        }
      }

      span:nth-of-type(2) {
        right: $edge-spacing;
        opacity: 1;

        @include mq-motion-allow {
          transition: 0.3s ease 0.4s, color 0.3s ease 0.3s;
        }

        @include mq-max("md") {
          right: calc($edge-spacing - 4px);
        }
      }

      &__icon {
        translate: 0 -40%;
        right: $edge-spacing-scroll;
        opacity: 0;

        @include mq-motion-allow {
          // transition: 0.3s ease 0.5s, filter 0.3s ease 0.52s !important;
          transition: 0.3s ease 0.2s, filter 0.3s ease 0.52s;
        }
      }
    }

    &.scroll-active {
      @include right-spacing;
      position: fixed;
      translate: 0 0;

      .cta {
        width: 92px;

        @include mq-max("md") {
          width: 86px;
        }

        span:nth-of-type(1) {
          left: $edge-spacing-scroll;
        }

        span:nth-of-type(2) {
          opacity: 0;
          pointer-events: none;

          @include mq-motion-allow {
            transition: 0.3s ease 0.2s;
          }
        }

        &__icon {
          opacity: 1;

          @include mq-motion-allow {
            transition: 0.3s ease 0.5s;
          }
        }
      }
    }

    &.scroll-bottom {
      position: absolute;
      top: auto;
      bottom: calc(
        var(--bottom-distance-footer-cta-title) - 56px
      ); // Maintain 56px in scroll.js as well
      animation: unset;

      @include mq-max("sm") {
        right: calc(100vw - calc(162px + $body-padding-sm));
      }

      .cta {
        @include cta-default-size;

        &:hover,
        &:focus {
          span:nth-of-type(2) {
            @include mq-motion-allow {
              transition: 0.3s ease 0.4s, color 0.2s ease 0.4s;
            }
          }
        }

        span:nth-of-type(1) {
          left: $edge-spacing;

          @include mq-max("md") {
            left: calc($edge-spacing - 4px);
          }
        }

        span:nth-of-type(2) {
          opacity: 1;
          pointer-events: all;

          @include mq-motion-allow {
            transition: 0.3s ease 0.4s, color 0.2s ease 0.3s;
          }
        }

        &__icon {
          opacity: 0;

          @include mq-motion-allow {
            transition: 0.3s ease 0.2s;
          }
        }
      }
    }
  }

  &.scroll-active {
    .header-logo {
      &:hover,
      &:focus {
        .header-logo__text {
          .letter-wrapper {
            .letter-wrapper__letter:nth-of-type(1) {
              animation: none;
              opacity: 0;
            }
          }
        }
      }

      &__text {
        .letter-wrapper {
          @for $i from 1 through 8 {
            $duration: 0.32s + 0.05s * $i;
            $delay: 0.03s * $i;

            &:nth-of-type(#{$i}) {
              .letter-wrapper__letter:nth-of-type(1) {
                translate: 0 0;
                animation: logo-text-scroll-active
                  $duration
                  ease
                  $delay
                  forwards;

                @include mq-motion-reduce {
                  animation-duration: 0s;
                  animation-delay: 0s;
                }
              }
              .letter-wrapper__letter:nth-of-type(2) {
                translate: 0 100%;
              }
            }
          }
        }
      }
    }

    .header-links {
      pointer-events: none;
      transition: 0.5s ease 0.5s;

      &::after {
        width: 0;

        @include mq-motion-allow {
          transition: 0.6s ease 0s;
        }
      }

      &__link {
        opacity: 0;
      }

      li {
        @for $i from 1 through 8 {
          &:nth-of-type(#{$i}) {
            a {
              @include mq-motion-allow {
                transition: opacity 0.3s ease calc(0.04s * $i);
              }
            }
          }
        }
      }

      li.header-links__hover-indicator {
        opacity: 0;

        @include mq-motion-allow {
          transition: 0.5s $cubic-ease-sudden, opacity 0.5s ease;
        }
      }
    }

    .menu-btn__wrapper {
      opacity: 1;
      pointer-events: all;
      rotate: 0deg;
      scale: 1;
      transition: 0.3s ease 0.6s;

      @include mq-max("sm") {
        scale: 0.9;
      }
    }

    .social-media-wrapper {
      .social-media-toggle__label {
        margin-inline-start: $social-media-label-collapse;
        opacity: 0;
        pointer-events: none;
        transition: 0.25s ease;
      }
    }

    .cta-wrapper {
      .cta {
        background: var(--background-color);

        @include mq-motion-allow {
          transition: 0.4s ease, background 0.25s ease 0.1s,
            width 0.4s ease 0.3s;
        }
      }
    }
  }

  &.menu-active {
    .header-logo {
      &:hover,
      &:focus {
        isolation: isolate;
      }

      &__text {
        isolation: isolate;
      }
    }

    .menu-btn__wrapper {
      opacity: 1;
      pointer-events: all;
    }

    .header-links {
      pointer-events: none;

      &::after {
        width: 0;
      }

      &__link {
        opacity: 0;
      }
    }

    .social-media-wrapper {
      pointer-events: all;

      li.magnet {
        @include mq-max("md") {
          opacity: 1;
        }

        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) {
            @include mq-max("md") {
              transition: 0.6s ease calc(1s + 0.06s * $i);
            }
          }
        }
      }
    }

    .cta-wrapper {
      @include right-spacing;
      translate: 0 0;

      .cta {
        background-color: transparent;

        @include mq-motion-allow {
          transition: 0.4s ease, background 0.25s ease 0.8s;
        }
      }
    }
  }

  &.header-hide-menu-btn {
    .menu-btn__wrapper {
      @include menu-btn-hidden;
      transition: 0.5s ease 0.5s;
    }
  }

  &.header-scroll-bottom {
    .social-media-wrapper {
      @include left-spacing;
      @include social-media-open;
      position: absolute;
      bottom: calc(
        var(--bottom-distance-social-media) - 4px
      ); // Maintain 4px in scroll.js as wel
      pointer-events: all;

      @include mq-max("md") {
        bottom: calc(
          var(--bottom-distance-social-media) - 56px
        ); // Maintain 56px in scroll.js as well - search banana
      }
    }

    .menu-btn__wrapper {
      @include menu-btn-hidden;
      transition: 0.5s ease 0.5s;
    }
  }
}

nav.nav-menu {
  $right-padding: 96px;

  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  // user-select: none;
  z-index: 4;

  @include mq-motion-allow {
    transition: background 0s ease 0.4s, opacity 0s ease 1.5s;
  }

  .width-constraint {
    @include row-center(flex-end);
    padding-inline-end: $right-padding;
    position: relative;
    max-width: $content-width;
    height: 100vh;
    height: 100dvh;
    margin: auto;

    &:hover {
      cursor: alias;

      & > * {
        cursor: default;
      }
    }

    @include mq-max("md") {
      @include column-start;
    }
  }

  .nav-links {
    @include column-start;
    gap: 80px;
    width: calc(50% - $right-padding);
    pointer-events: none;
    transition: 0.5s cubic-bezier(0.23, 1, 0.62, 1), height 0s;

    @include mq-motion-allow {
      transition: 0.8s cubic-bezier(0.23, 1, 0.62, 1), height 0s;
    }

    @include mq-max("xxl") {
      gap: 64px;
    }

    @include mq-max("lg") {
      gap: 48px;
      width: calc(50% - $right-padding / 1.25);
    }

    @include mq-max("md") {
      gap: 12px;
      translate: $body-padding-md 0;
    }

    @media (max-height: 520px) {
      justify-content: flex-start;
      position: absolute;
      top: 80px;
      width: calc(100% - $body-padding-md * 2);
      height: calc(100vh - calc(88px * 2 - $body-padding-md));
      height: calc(100dvh - calc(88px * 2 - $body-padding-md));
      overflow: auto;
      padding: 8px 0;
    }

    @include mq-mouse {
      &:hover,
      &:focus-within {
        .nav-link {
          opacity: 0.5;
        }
      }
    }

    li {
      display: flex;
      overflow: hidden;
      flex-shrink: 0;

      &:focus-within {
        border-radius: 4px;
        box-shadow: 0 0 0 3px rgba(#2353c1, 0.75), 0 0 0 5px rgba(#fff, 0.75);
      }

      &:first-of-type {
        margin-block-start: 520px;

        @include mq-max("xxl") {
          margin-block-start: 464px;
        }

        @include mq-max("lg") {
          margin-block-start: 124px;
        }

        @include mq-max("md") {
          margin-block-start: unset;
        }
      }
      &:last-of-type {
        margin-block-end: 464px;

        @include mq-max("xxl") {
          margin-block-end: 420px;
        }

        @include mq-max("lg") {
          margin-block-end: 48px;
        }

        @include mq-max("md") {
          margin-block-end: unset;
        }
      }

      @for $i from 1 through 8 {
        &:nth-of-type(#{$i}) {
          $transition: 0.25s + $i * 0.05s;
          $delay: 0s + $i * 0.05s;

          .nav-link {
            @include mq-motion-allow {
              animation: nav-link-default $transition ease $delay forwards;
            }
          }
        }
      }
    }

    .nav-link {
      @extend .h1;
      display: flex;
      // padding-block: 40px;
      text-transform: uppercase;
      line-height: 100%;
      height: 100%;
      transition: 0.2s ease; // for hover

      // @include mq-max("xxl") {
      //   padding-block: 32px;
      // }

      @include mq-max("lg") {
        font-size: 48px;
        // padding-block: 24px;
      }

      @include mq-max("md") {
        font-size: 36px;
        // padding-block: 6px;
      }

      &:hover,
      &:focus {
        opacity: 1;
      }

      &__number {
        font-size: 14px;
        translate: 0 -42%;

        @include mq-max("lg") {
          font-size: 12px;
        }

        @include mq-max("md") {
          display: none;
        }
      }
    }
  }

  .nav-img-container {
    position: absolute;
    left: 16%;
    height: 50%;
    aspect-ratio: 976 / 1368;
    opacity: 0;
    pointer-events: none;

    @include mq-motion-allow {
      transition: 0.4s ease 0.3s;
    }

    @include mq-max("lg") {
      left: 18%;
    }

    @include mq-max("md") {
      left: 54%;
      height: 40%;
    }

    @include mq-touch {
      display: none;
    }

    img {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      height: 100%;
      object-fit: cover;
      scale: 1.05;
      opacity: 0;
      border-radius: $radius;
      filter: blur(4px);
      cursor: alias;

      @include mq-motion-allow {
        transition: 0.6s $cubic-ease;
      }

      @include mq-max("md") {
        max-height: 360px;
      }

      @media (max-width: 520px) {
        max-height: 280px;
      }

      &.active {
        // animation: nav-image-active 0.64s $cubic-ease forwards;
        scale: 1;
        opacity: 1;
        filter: blur(0);
      }
    }
  }

  .nav-abstract {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
    width: 100vw;
    height: 0;
    background: #fff;
    z-index: -1;
    cursor: alias;

    @include mq-motion-allow {
      transition: 1.2s $cubic-ease-sudden 0.5s, width 0s;
    }
  }

  &.menu-active {
    opacity: 1;
    pointer-events: all;
    background: var(--background-color);
    transition: background 0s ease 1s;

    .nav-abstract {
      height: 100%;

      @include mq-motion-allow {
        transition: all 1.25s $cubic-ease-sudden 0s, width 0s;
      }
    }

    .nav-links {
      opacity: 1;
      pointer-events: all;

      li {
        @for $i from 1 through 8 {
          &:nth-of-type(#{$i}) {
            $transition: 0.5s + $i * 0.05s;
            $delay: 0.5s + $i * 0.05s;

            .nav-link {
              translate: 0 0;

              @include mq-motion-allow {
                translate: 0 100%;
                animation: nav-link-open $transition ease $delay forwards;
              }
            }
          }
        }
      }
    }

    .nav-img-container {
      opacity: 1;

      @include mq-motion-allow {
        transition: 0.4s ease 1s;
      }
    }
  }
}

section {
  // padding: 196px $content-padding;
  padding: 248px $content-padding;

  @include mq-max("xxl") {
    padding: 148px $content-padding-xxl;
  }

  @include mq-max("md") {
    padding-inline: $content-padding-md;
  }

  @include mq-max("sm") {
    padding: 116px $body-padding-sm;
  }

  // All Heroes (gradient background)
  &.hero-section {
    @include section-theme(linear-gradient($grey-light, $white));
  }

  &.dark-section {
    @include section-theme(var(--primary-font-color));
  }

  // Non Paragraph Heroes
  &.classic-hero {
    @include column-center;
    padding-block: 420px 312px;
    gap: 24px;

    @media all {
      @include mq-max("xxl") {
        padding-block: 312px 196px;
      }

      @include mq-max("xl") {
        padding-block: 264px 128px;
      }

      @include mq-max("lg") {
        padding-block: 224px;
      }

      @include mq-max("md") {
        padding-block: 264px;
      }

      @include mq-max("sm") {
        padding-block-start: 256px;
      }
    }

    * {
      text-align: center;
    }

    .classic-hero__heading {
      overflow: hidden;

      &-text {
        position: relative;

        &-inner {
          display: flex;
          text-wrap: nowrap;
        }

        &-inner:first-of-type {
          @include mq-motion-allow {
            translate: 0 100%;
          }
        }

        &-inner:last-of-type {
          position: absolute;
          bottom: 0;
          translate: 0 100%;
        }
      }

      &.animate {
        $duration: 3.2s;
        $duration-lg: 2.5s;
        $delay-lg: 0.27s;

        .classic-hero__heading-text-inner:first-of-type {
          animation: text-letters-1 $duration $cubic-ease 0.2s forwards;
        }
        .classic-hero__heading-text-inner:last-of-type {
          animation: text-letters-2 $duration $cubic-ease 0.2s forwards;
        }
      }
    }

    .classic-hero__subtext {
      opacity: 0.5;
      font-size: 16px;

      @include mq-max("md") {
        font-size: 14px;
        opacity: 0.5;
      }

      @include mq-max("sm") {
        font-size: 12px;
        width: calc(100vw - $body-padding-md * 2);
      }

      span {
        @include mq-motion-allow {
          opacity: 0;
          filter: blur(3px);
        }
      }

      .dot {
        margin-inline: 8px;

        @include mq-max("md") {
          margin-inline: 4px;
        }

        @include mq-max("xs") {
          margin-inline: 1px;
        }
      }

      &.animate {
        span {
          opacity: 1;
          filter: blur(0);

          @for $i from 1 through 16 {
            $delay: 1.2 + 0.03s * $i;
            $delay-lg: 1 + 0.03s * $i;

            &:nth-of-type(#{$i}) {
              transition: 1s ease $delay;

              @include mq-max("lg") {
                transition: 1s ease $delay-lg;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  @include column-center;
  position: relative;
  padding: $body-padding;
  padding-block-start: 196px;
  gap: 248px;

  @include mq-max("xxl") {
    padding: $body-padding-xxl;
    padding-block-start: 164px;
    gap: 164px;
  }

  @include mq-max("md") {
    padding: $body-padding-md;
    padding-block-start: 128px;
  }

  @include mq-max("sm") {
    padding: 96px $body-padding-sm 48px;
  }

  & > * {
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(0deg, $grey-light, $white);
    z-index: -1;
  }

  .site-footer__top {
    @include row-start(space-between);

    @include mq-max("sm") {
      flex-direction: column-reverse;
      gap: 148px;
    }

    .footer-nav-links {
      @include column-start;
      flex-wrap: wrap;
      gap: 40px;
      width: 212px;
      height: 212px;
      margin-inline-start: calc($content-padding-thin - $body-padding);

      @include mq-min("xxl") {
        margin-inline-start: calc(
          $content-padding-thin-min-xxl - $body-padding
        );
      }

      @include mq-max("xxl") {
        margin-inline-start: calc(
          $content-padding-thin-xxl - $body-padding-xxl
        );
      }

      @include mq-max("xl") {
        margin-inline-start: calc($content-padding-thin-xl - $body-padding-xxl);
      }

      @include mq-max("md") {
        margin-inline-start: 0;
        margin-block-start: -12px;
        gap: 24px;
        height: 180px;
        width: 186px;
      }

      &:hover,
      &:focus-within {
        .footer-nav-link {
          opacity: 0.5;

          &:hover,
          &:focus {
            opacity: 1;
          }
        }
      }

      .footer-nav-link {
        text-transform: uppercase;
        font-size: 16px;

        @include mq-motion-allow {
          transition: 0.2s ease;
        }

        @include mq-max("md") {
          font-size: 14px;
        }
      }
    }

    .footer-cta-title {
      @extend .h6;
      text-transform: uppercase;
      text-align: right;

      @include mq-max("sm") {
        font-size: 32px;
        text-align: left;
      }
    }
  }

  .site-footer__bottom {
    @include row-end(space-between);

    @include mq-max("lg") {
      align-items: flex-start;
    }

    @include mq-max("md") {
      flex-direction: column;
    }

    .brand-name-wrapper {
      @include mq-max("lg") {
        translate: -8px 0;
      }

      @include mq-max("sm") {
        translate: 0 0;
      }

      &__locations {
        @include row-center(flex-start);
        gap: 64px;

        @include mq-max("xxl") {
          gap: 48px;
        }

        @include mq-max("lg") {
          translate: calc(0.5vw + 4px) 0;
          gap: 16px;
        }

        @include mq-max("md") {
          translate: 0.5vw -8px;
          gap: 24px;
        }

        @include mq-max("sm") {
          font-size: 14px;
          width: 97%;
          justify-content: space-between;
        }

        @include mq-max("xs") {
          font-size: 13px;
        }

        small {
          @include mq-motion-allow {
            opacity: 0;
          }
        }
      }

      &__brand-name {
        font-size: 224px;
        line-height: 1;
        display: inline-flex;
        overflow: hidden;
        translate: -16px 0;

        @include mq-max("xxl") {
          font-size: 164px;
          translate: -10px 0;
        }

        @include mq-max("xl") {
          font-size: 124px;
        }

        @include mq-max("lg") {
          font-size: 22vw;
          translate: -4px 0;
        }

        @include mq-max("md") {
          font-size: 22.3vw;
        }

        @include mq-max("sm") {
          font-size: 21.6vw;
        }

        span {
          @include mq-motion-allow {
            translate: 0 100%;
          }
        }
      }

      &.animate {
        .brand-name-wrapper__locations {
          small {
            opacity: 1;

            @for $i from 1 through 3 {
              &:nth-of-type(#{$i}) {
                transition: opacity 0.8s ease calc(0.25s + 0.1s * $i);
              }
            }
          }
        }

        .brand-name-wrapper__brand-name {
          span {
            translate: 0 0;

            @for $i from 1 through 8 {
              &:nth-of-type(#{$i}) {
                transition: translate
                  calc(0.25s + 0.1s * $i)
                  ease
                  calc(0.15s + 0.05s * $i);
              }
            }
          }
        }
      }
    }

    .credits {
      @include row-center;
      gap: 48px;
      translate: 0 -24px;

      @include mq-max("xxl") {
        gap: 24px;
        translate: 0 -16px;
      }

      @media (max-width: 1280px) {
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
      }

      @include mq-max("lg") {
        flex-direction: row;
        margin-bottom: 24px;
        translate: -108% 0;
      }

      @include mq-max("md") {
        translate: 0 16px;
        align-self: flex-end;
      }

      @include mq-max("sm") {
        align-self: flex-start;
        width: calc(100vw - $body-padding-md * 1.5);
        translate: 0 16px;
        font-size: 12px;
        justify-content: space-between;
        font-size: 3.6vw;
      }

      small {
        text-align: right;
        flex-shrink: 0;
        text-wrap: nowrap;
      }
    }
  }
}

h1 {
  @extend .h1;
}
h2 {
  @extend .h2;
}
h3 {
  @extend .h3;
}
h4 {
  @extend .h4;
}
h5 {
  @extend .h5;
}
h6 {
  @extend .h6;
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;

  @include mq-max("xxl") {
    font-size: 18px;
  }

  @include mq-max("sm") {
    font-size: 16px;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
}

cite {
  font-style: normal;
}

.dialog {
  isolation: isolate;
  position: fixed;
  border: none;
  background: transparent;
  top: 0;
  pointer-events: none;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  height: 100dvh;
  max-height: 100vh; // Override system styles on dialog (mobile)
  display: block;
  z-index: 10;

  .dialog__close-btn-wrapper {
    // DUPLICATE CODE AT .menu-btn__wrapper
    position: fixed;
    @include right-spacing;
    top: 74px;
    translate: 0 -50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease 0.5s;

    @include mq-max("md") {
      top: 50px;
    }

    @include mq-max("sm") {
      scale: 0.9;
    }

    .dialog__close-btn {
      $btn-size: 40px; // also calculates the gap - keep it an even number

      @include row-center;
      width: $btn-size;
      height: $btn-size;
      padding: 10px;
      transition: 0.3s ease;

      @include mq-max("sm") {
        outline: none;
      }

      &:hover,
      &:focus {
        scale: 1.1;
      }

      &:active {
        scale: 0.9;
      }

      .dots-wrapper {
        display: flex;
        justify-content: space-between;
        align-content: space-between; // Align content baby!
        flex-wrap: wrap;
        gap: calc($btn-size / 6);
        width: 100%;
        height: 100%;

        rotate: 45deg;
        transition: 0.8s $cubic-ease-sudden-back-strong 0s;

        &__dot {
          width: 6px;
          height: 6px;
          background-color: var(--background-color);
          border-radius: 50%;
          transition: 0.3s ease;
        }

        .center-dot {
          @include absolute-center;
          opacity: 0;
          transition: 0.3s ease 0.2s;
        }
      }
    }
  }

  &[open] {
    opacity: 1;
    pointer-events: all;

    .dialog__close-btn-wrapper {
      opacity: 1;
      pointer-events: all;
      transition: 0.3s ease 0.4s;

      .dots-wrapper {
        rotate: 90deg;
        transition: 0.8s $cubic-ease-sudden-back-strong 0.4s;

        .center-dot {
          opacity: 1;
          transition: 0.3s ease 1s;
        }
      }
    }
  }

  &.newsletter-dialog {
    @include mq-motion-allow {
      transition: opacity 1s ease;
    }

    .newsletter-form {
      @include absolute-center;
      @include column-center;
      gap: 16px;
      max-width: 1024px;
      padding: 96px;

      @include mq-motion-allow {
        transition: opacity 0.5s ease;
      }

      @include mq-max("md") {
        padding: 128px 48px;
        width: 86%;
      }

      @include mq-max("sm") {
        padding: 128px 0;
      }

      & * {
        color: var(--background-color);
      }

      h2 {
        display: flex;
        text-align: center;
        gap: 12px;
        margin-bottom: 12px;
        overflow: hidden;
        text-wrap: nowrap;

        @include mq-max("xxl") {
          gap: 10px;
        }

        @include mq-max("xl") {
          gap: 8px;
        }

        @include mq-max("sm") {
          flex-direction: column;
          font-size: 30px;
          line-height: 30px;
          margin-bottom: 24px;
        }

        span {
          translate: 0 100%;

          @include mq-motion-allow {
            transition: translate 1s $cubic-ease 0.12s;
          }

          @include mq-max("sm") {
            translate: 0 240%;
          }
        }
      }

      input[type="email"],
      button[type="submit"] {
        @include body-font-styles;
        width: calc(100% - 96px);
        border: 1px solid var(--background-color);
        border-radius: $radius;
        padding: 12px 4px;
        font-size: 20px;
        width: 764px;

        translate: 0 120%;
        opacity: 0;
        pointer-events: none;

        @include mq-max("xxl") {
          width: 572px;
        }

        @include mq-max("xl") {
          padding: 10px 4px;
          width: 448px;
        }

        @include mq-max("md") {
          padding: 12px 4px;
          width: 100%;
        }
      }

      input[type="email"] {
        background: transparent;
        text-align: center;

        @include mq-motion-allow {
          transition: 0.9s $cubic-ease 0.06s;
        }

        &::placeholder {
          color: var(--background-color);
          opacity: 0.4;
        }
      }

      button[type="submit"] {
        border: none;
        background: $grey-light;
        color: var(--primary-font-color);

        @include mq-motion-allow {
          transition: 0.8s $cubic-ease 0s, background 0.3s ease;
        }

        &:hover,
        &:focus {
          background: var(--background-color);
        }
      }

      .form-message-container {
        position: relative;
        width: 100%;
        height: 36px;
        opacity: 0;
        translate: 0 100%;

        @include mq-motion-allow {
          transition: 0.3s ease 0s;
        }

        .status-message {
          @include row-center;
          @include absolute-center;
          @include body-font-styles;
          width: 100%;
          text-wrap: nowrap;
          opacity: 0;
          pointer-events: none;

          @include mq-motion-allow {
            transition: opacity 0.24s ease 0.12s;
          }

          @include mq-max("md") {
            text-wrap: wrap;
          }

          @include mq-max("sm") {
            font-size: 13px;
          }

          .success-icon,
          .error-icon {
            width: 28px;
            height: 28px;
            flex-shrink: 0;
            margin-inline-end: 12px;
            padding: 4px;
            scale: 0.5;

            @include mq-motion-allow {
              transition: 0.3s ease 0.12s;
            }

            @include mq-max("sm") {
              width: 24px;
              height: 24px;
            }
          }

          &.active {
            opacity: 1;
            pointer-events: all;

            .success-icon,
            .error-icon {
              scale: 1.2;
            }
          }
        }

        .success-message {
          color: $green;

          .success-icon {
            border: 1px solid $green;
            border-radius: 50%;

            path {
              fill: $green;
            }
          }
        }

        .error-message {
          color: $yellow;

          .error-icon {
            border-radius: 0;

            path {
              fill: $yellow;
            }
          }
        }
      }
    }

    .backdrop {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: var(--primary-font-color);
      // background: var(--primary-accent-color);
      z-index: -1;
      cursor: alias;

      @include mq-motion-allow {
        transition: left 0.6s ease 0.5s;
      }
    }

    .mouse-cursor {
      p {
        background: linear-gradient($grey-light, $white);
        color: var(--primary-font-color);
      }
    }

    &[open] {
      // opacity: 1;
      display: block;
      // pointer-events: all;

      // .dialog__close-btn-wrapper {
      //   opacity: 1;
      //   pointer-events: all;
      //   transition: 0.3s ease 0.4s;

      //   .dots-wrapper {
      //     rotate: 90deg;
      //     transition: 0.8s $cubic-ease-sudden-back-strong 0.4s;

      //     .center-dot {
      //       opacity: 1;
      //       transition: 0.3s ease 1s;
      //     }
      //   }
      // }

      .dialog__close-btn {
        opacity: 1;
        pointer-events: all;
      }

      .newsletter-form {
        h2 {
          span {
            translate: 0 0;

            @include mq-motion-allow {
              transition: translate 0.8s $cubic-ease 0.3s;
            }
          }
        }

        input[type="email"],
        button[type="submit"] {
          translate: 0 0;
          opacity: 1;
          pointer-events: all;
        }

        input[type="email"] {
          @include mq-motion-allow {
            transition: translate 0.9s $cubic-ease 0.4s,
              opacity 0.7s $cubic-ease 0.4s, background 0.3s ease,
              color 0.3s ease;
          }
        }

        button[type="submit"] {
          @include mq-motion-allow {
            transition: translate 1s $cubic-ease 0.5s,
              opacity 0.8s $cubic-ease 0.5s, background 0.3s ease,
              color 0.3s ease;
          }
        }

        .form-message-container {
          opacity: 1;
          translate: 0 0;

          @include mq-motion-allow {
            transition: 0.8s $cubic-ease 0.5s;
          }
        }
      }

      .backdrop {
        left: 0;

        @include mq-motion-allow {
          transition: left 0.6s ease 0s;
        }
      }
    }
  }
}

.mouse-cursor {
  @include row-center;
  position: fixed;
  top: -16px;
  left: 0;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  z-index: 50;

  @include mq-motion-allow {
    top: 0;
    transition: 0.8s $cubic-ease;
  }

  @include mq-touch {
    display: none;
  }

  @include mq-max("xxl") {
    width: 112px;
    height: 112px;
  }

  @include mq-max("xl") {
    width: 96px;
    height: 96px;
  }

  @include mq-max("md") {
    width: 80px;
    height: 80px;
  }

  p {
    @include row-center;
    background-color: var(--primary-font-color);
    // background: crimson;
    // background: linear-gradient($grey-light, $white);
    color: var(--background-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    rotate: -45deg;
    scale: 0;
    transition: 0.8s cubic-bezier(0.18, 0.97, 0.47, 1);
    font-size: 20px;

    @include mq-max("xxl") {
      font-size: 18px;
    }
  }

  &.active {
    opacity: 1;

    p {
      rotate: 0deg;
      scale: 1;
    }
  }

  &__original {
    z-index: 40;
  }

  &__newletter {
    z-index: 41;
  }
}

.icon-arrow-right {
  path {
    stroke: var(--primary-font-color);
    stroke-width: 1.5px;

    stroke-dashoffset: 36.6287841796875px;
    stroke-dasharray: 36.6287841796875px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      0s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;

    @include mq-max("sm") {
      stroke-width: 1px;
    }
  }

  &.animate {
    path {
      stroke-dashoffset: 0;
    }
  }
}

.icon-arrow-angled-down {
  translate: 0 4px;

  path {
    stroke-dashoffset: 42.38288497924805px;
    stroke-dasharray: 42.38288497924805px;

    @include mq-min("sm") {
      stroke-width: 1.5px;
    }

    @include mq-motion-allow {
      transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
      -webkit-transition: stroke-dashoffset 1s
        cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
    }
  }

  &.animate {
    path {
      stroke-dashoffset: 0;
    }
  }
}
