.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.simple-link {
  @extend .h6;
  @include row-center;
  gap: 4px;
  transition: 0.25s ease;

  &:hover,
  &:focus {
    .simple-link__span-inner {
      translate: 0 -100%;

      &:last-of-type {
        translate: 0 0;
      }
    }

    .icon-arrow-right {
      translate: 4px 0;
    }
  }

  &__span-outter {
    @include row-center(flex-end);
    position: relative;
    width: 180px;
    height: 24px;
    overflow: hidden;

    @include mq-max("xl") {
      width: 152px;
    }

    @include mq-max("lg") {
      width: 138px;
    }

    @include mq-max("sm") {
      width: 134px;
    }

    span {
      position: absolute;
      right: 0;

      @include mq-motion-allow {
        transition: 0.6s $cubic-ease;
      }

      &:last-of-type {
        translate: 0 100%;
      }
    }

    &.span-sm {
      width: 90px;

      @include mq-max("xl") {
        width: 78px;
      }

      @include mq-max("lg") {
        width: 70px;
      }
    }

    &.span-md {
      width: 134px;

      @include mq-max("xl") {
        width: 112px;
      }

      @include mq-max("lg") {
        width: 98px;
      }
    }
    // &.span-lg {
    //   background: lightgreen;
    // }
  }

  .icon-arrow-right {
    @include mq-motion-allow {
      transition: 0.25s ease;
    }
  }
}

.classic-link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primary-font-color);
    animation: classic-link-default $cubic-ease-sudden forwards;

    @include mq-motion-allow {
      animation-duration: 0.64s;
    }
  }

  &:hover,
  &:focus {
    &::before {
      animation: classic-link-hover $cubic-ease-sudden forwards;
      @include mq-motion-allow {
        animation-duration: 0.64s;
      }
    }
  }
}

.lg-screen-and-up {
  display: none;

  @include mq-min("lg") {
    display: flex; // Flex for cta-wrapper
  }
}

.lg-screen-and-below {
  display: none;

  @include mq-max("lg") {
    display: flex;
  }
}

.md-screen-and-up {
  display: none;

  @include mq-min("md") {
    display: flex;
  }
}

.md-screen-and-below {
  display: none;

  @include mq-max("md") {
    display: flex;
  }
}

.sm-screen-and-up {
  display: none;

  @include mq-min("sm") {
    display: flex;
  }
}

.sm-screen-and-below {
  display: none;

  @include mq-max("sm") {
    display: flex;
  }
}
