// Custom

.simple-link {
  position: relative;
  @extend .h6;
  @include row-center;
  gap: 4px;
  transition: 0.25s ease;

  &:hover,
  &:focus {
    &::before {
      scale: 0;
    }

    .simple-link__span-inner {
      color: var(--primary-accent-color);
      translate: 0 -100%;

      @include mq-motion-allow {
        transition: 0.6s $cubic-ease;
      }

      &:last-of-type {
        translate: 0 0;
      }
    }

    .icon-arrow-right {
      translate: 6px 0;
      border-color: var(--primary-accent-color);

      path {
        stroke: var(--primary-accent-color);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    translate: -$simple-link-offset -40%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--primary-accent-color);
    opacity: 0.5;
    pointer-events: none;

    @include mq-motion-allow {
      transition: 0.5s $cubic-ease;
    }

    @include mq-max("lg") {
      width: 10px;
      height: 10px;
    }

    @include mq-max("sm") {
      translate: -$body-padding-sm -40%;
    }
  }

  &__span-outter {
    @include column-center;
    // @include row-center(flex-end);
    // flex-direction: column;
    position: relative;
    overflow: hidden;

    span {
      &:last-of-type {
        translate: 0 100%;
        position: absolute;
        bottom: 0;
      }
    }
  }

  .icon-arrow-right {
    border: 1px solid transparent;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 6px;

    @include mq-motion-allow {
      transition: 0.25s ease;
    }
  }

  &--arrow-left {
    flex-direction: row-reverse;

    &:hover,
    &:focus {
      .icon-arrow-right {
        translate: -4px 0;
      }
    }

    .simple-link__span-outter {
      span {
        right: auto;
        left: 0;
      }
    }

    .icon-arrow-right {
      rotate: 180deg;
    }
  }
}

.classic-link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primary-font-color);
    animation: classic-link-default $cubic-ease-sudden forwards;

    @include mq-motion-allow {
      animation-duration: 0.64s;
    }
  }

  &:hover,
  &:focus {
    &::before {
      animation: classic-link-hover $cubic-ease-sudden forwards;
      @include mq-motion-allow {
        animation-duration: 0.64s;
      }
    }
  }
}

.show-element__parent {
  display: flex;
  overflow: hidden;
}

// Accessible

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Responsive

.lg-screen-and-up {
  display: none;

  @include mq-min("lg") {
    display: flex; // Flex for cta-wrapper
  }
}

.lg-screen-and-below {
  display: none;

  @include mq-max("lg") {
    display: flex;
  }
}

.md-screen-and-up {
  display: none;

  @include mq-min("md") {
    display: flex;
  }
}

.md-screen-and-below {
  display: none;

  @include mq-max("md") {
    display: flex;
  }
}

.sm-screen-and-up {
  display: none;

  @include mq-min("sm") {
    display: flex;
  }
}

.sm-screen-and-below {
  display: none;

  @include mq-max("sm") {
    display: flex;
  }
}
