// Custom

.simple-link {
  position: relative;
  @extend .h6;
  @include row-center;
  gap: 4px;
  transition: 0.25s ease;

  &:hover,
  &:focus-visible {
    &::before {
      scale: 0;
    }

    .simple-link__span-inner {
      color: var(--primary-accent-color);
      translate: 0 -100%;

      @include mq-motion-allow {
        transition: 0.6s $cubic-ease;
      }

      &:last-of-type {
        translate: 0 0;
      }
    }

    .icon-arrow-right {
      translate: 6px 0;
      border-color: var(--primary-accent-color);

      path {
        stroke: var(--primary-accent-color);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    translate: -$simple-link-offset -40%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--primary-accent-color);
    opacity: 0.5;
    pointer-events: none;

    @include mq-motion-allow {
      transition: 0.5s $cubic-ease;
    }

    @include mq-max("lg") {
      width: 10px;
      height: 10px;
    }

    @include mq-max("sm") {
      translate: -$body-padding-sm -40%;
    }
  }

  &__span-outter {
    @include column-center;
    // @include row-center(flex-end);
    // flex-direction: column;
    position: relative;
    overflow: hidden;

    span {
      @include mq-motion-allow {
        transition: color 1.2s $cubic-ease;
      }

      &:last-of-type {
        translate: 0 100%;
        position: absolute;
        bottom: 0;
      }
    }
  }

  .icon-arrow-right {
    border: 1px solid transparent;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 6px;

    @include mq-motion-allow {
      transition: 0.25s ease;
    }
  }

  &--arrow-left {
    flex-direction: row-reverse;

    &:hover,
    &:focus-visible {
      .icon-arrow-right {
        translate: -4px 0;
      }
    }

    .simple-link__span-outter {
      span {
        right: auto;
        left: 0;
      }
    }

    .icon-arrow-right {
      rotate: 180deg;
    }
  }
}

.classic-link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primary-font-color);
    animation: classic-link-default $cubic-ease-sudden forwards;

    @include mq-motion-allow {
      animation-duration: 0.64s;
    }
  }

  &:hover,
  &:focus-visible {
    &::before {
      animation: classic-link-hover $cubic-ease-sudden forwards;
      @include mq-motion-allow {
        animation-duration: 0.64s;
      }
    }
  }
}

.show-element__parent {
  display: flex;
  overflow: hidden;
}

.word-split {
  $delay: 0s;

  text-transform: initial;

  @include mq-motion-allow {
    opacity: 0;
    transition: opacity 1.2s ease $delay;
  }

  .outer-span {
    display: inline-flex;
    overflow: hidden;

    @include mq-max("sm") {
      line-height: unset;
    }

    .inner-span {
      color: var(--background-color);

      @include mq-motion-allow {
        translate: 0 100%;
      }
    }
  }

  &.indent {
    .outer-span {
      &:first-of-type {
        margin-inline-start: -$podcast-quote-offset;

        @include mq-max("xxl") {
          margin-inline-start: -$podcast-quote-offset-xxl;
        }

        @include mq-max("md") {
          margin-inline-start: -$podcast-quote-offset-md;
        }
      }
    }
  }

  &.animate {
    @include mq-motion-allow {
      opacity: 1;

      .outer-span {
        @for $i from 1 through 96 {
          &:nth-of-type(#{$i}) {
            .inner-span {
              translate: 0 0;
              transition: translate 0.5s ease $delay + 0.016s * $i;
            }
          }
        }
      }
    }
  }
}

.character-split {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  text-transform: lowercase;

  @include mq-motion-allow {
    opacity: 0; // Prevent flicker
  }

  @include mq-max("md") {
    gap: 8px;
  }

  &__word {
    line-height: 125%;
    overflow: hidden;
  }

  &__letter {
    line-height: 100%;
    display: inline-block;
    padding-block-end: 8px;

    @include mq-motion-allow {
      translate: 0 100%;

      // @for $i from 1 through 90 {
      //   &:nth-of-type(#{$i}) {
      //     transition: 0.8s $cubic-ease 0.1s * $i;
      //   }
      // }
    }

    // Capitalize each word
    &:first-of-type {
      text-transform: uppercase;
    }
  }

  // // Capitalize the first word
  // &__word:first-of-type {
  //   .character-split__letter:first-of-type {
  //     text-transform: uppercase;
  //   }
  // }

  // Thanks to custom gsap function globalGenerateAnimate()
  &.animate {
    opacity: 1; // Prevent flicker

    .character-split__letter {
      translate: 0 0;

      @for $i from 1 through 24 {
        &:nth-of-type(#{$i}) {
          transition: 1s $cubic-ease 0.04s * $i;
        }
      }
    }
  }
}

// Accessible

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Responsive

.lg-screen-and-up {
  display: none;

  @include mq-min("lg") {
    display: flex; // Flex for cta-wrapper
  }
}

.lg-screen-and-below {
  display: none;

  @include mq-max("lg") {
    display: flex;
  }
}

.md-screen-and-up {
  display: none;

  @include mq-min("md") {
    display: flex;
  }
}

.md-screen-and-below {
  display: none;

  @include mq-max("md") {
    display: flex;
  }
}

.sm-screen-and-up {
  display: none;

  @include mq-min("sm") {
    display: flex;
  }
}

.sm-screen-and-below {
  display: none;

  @include mq-max("sm") {
    display: flex;
  }
}
