$brand-font-family-heading: "Atyp Display", sans-serif;
$brand-font-family-body: "Atyp Display", sans-serif;

$black: #0e0e0e;
$grey-dark: #898c83;
$grey-light: #fdfaf5;
$white: #faf8f4;

:root {
  --background-color: #{$white};
  --primary-font-color: #{$black};
  --secondary-font-color: #{$grey-dark};

  --link-color: #{$black};
  --link-color-hover: #{$grey-dark};
}

// If you add a dark/light theme
// @media (prefers-color-scheme: dark) {
//   :root {
//     --background-color: #{$black};
//     --primary-font-color: #{$white};
//   }
// }

// Site Scaffolding

$content-width: 1920px;
$body-padding: 64px;
$body-padding-xxl: 40px;
$body-padding-md: 24px;

$vertical-section-padding: 196px;
// $vertical-section-padding-xxl: 156px;
// $vertical-section-padding-lg: 124px;
// $vertical-section-padding-md: 148px;
// $vertical-section-padding-sm: 96px;

$horizontal-section-padding: 148px;
// $horizontal-section-padding-xxl: 96px;
// $horizontal-section-padding-xl: 124px;
// $horizontal-section-padding-lg: 96px;
// $horizontal-section-padding-md: 48px;

// Easing
$cubic-ease-sudden: cubic-bezier(0.8, 0, 0.11, 1.11);

$cubic-ease-sudden-back: cubic-bezier(0.8, -0.11, 0.11, 1.11);
$cubic-ease-sudden-back-strong: cubic-bezier(0.77, -0.43, 0.11, 1.11);

// Debugging

$test: 1px dashed rgba(crimson, 0.75);
$test-bg: rgba(navy, 0.75);
