---
title: "ESSENCE • Blog"
layout: "archives"
category: "Blog"

paragraphHeading: "Our Blog"
paragraphHeadingLevel: "h1"
paragraphClass: "hero-section hero-paragraph"
paragraphBody: "ESSENCE blog serves as a sanctuary for thoughts, a space where clarity meets inspiration. Each post is crafted with intention, guiding you to reflect on what truly matters. Join us on a journey of discovery, as we explore the art of simplicity and the profound impact of living with purpose."

subheading: "Dive deeper into a life less ordinary, enriched by the essentials."

textBlockWidth: ""
textBlockBody: "Dive deeper into a life less ordinary, enriched by the essentials."
---

{% set listContent = collections.blog | sort(attribute='data.title') %}

<div class="slider-listing__group">
  <h3 class="slider-listing__group-heading">Most popular</h3>
  <!-- prettier-ignore -->
  <ul class="slider-listing__group-list">
    {% for post in listContent | reverse %} {% if "popular" in post.data.tags %}
    <li class="gsap-animate">
      <a
        href="{{ post.url | url }}"
        class="tab-element-page classic-link"
      >
        {{ post.data.title | default('Untitled') }}
      </a>
    </li>
    <!-- prettier-ignore -->
    {% endif %} 
    {% endfor %}
  </ul>
</div>

<div class="slider-listing__group">
  <h3 class="slider-listing__group-heading">All blogs</h3>

  <ul class="slider-listing__group-list">
    {% for post in listContent %}
    <li class="gsap-animate">
      <a href="{{ post.url | url }}" class="tab-element-page classic-link">
        <!-- prettier-ignore -->
        {% if post.data.title %} 
          {{ post.data.title }} 
        {% else %} 
          Untitled 
        {%endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
