.essence-paragraph {
  @include column-center;
  // padding: 316px $content-padding;
  padding: 280px $content-padding;
  gap: 48px;

  @include mq-max("xxl") {
    gap: 32px;
    padding: 296px $content-padding-xxl;
  }
  @include mq-max("md") {
    gap: 24px;
    padding: 164px $content-padding-md;
  }

  @include mq-max("sm") {
    padding: 164px $body-padding-sm;
  }

  &__heading {
    @extend .h6;
    @include row-center;
    gap: 12px;

    &-svg {
      translate: 0 4px;

      path {
        stroke-dashoffset: 42.38288497924805px;
        stroke-dasharray: 42.38288497924805px;

        @include mq-motion-allow {
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
            0s;
          -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
        }
      }

      &.animate {
        path {
          stroke-dashoffset: 0;
        }
      }
    }
  }

  &__body-text {
    @extend .h4;
    text-transform: initial;
    text-indent: 128px;

    @include mq-max("lg") {
      text-indent: 64px;
    }

    @include mq-max("md") {
      text-indent: 36px;
    }
  }

  &__link {
    align-self: flex-start;
    translate: 164px 0;

    @include mq-max("lg") {
      translate: 140px 0;
    }

    @include mq-max("md") {
      align-self: unset;
      translate: 0 0;
    }
  }

  &.hero-paragraph {
    padding-block: 364px;

    @include mq-max("xxl") {
      padding-block: 296px;
    }

    @include mq-max("xl") {
      padding-block: 248px;
    }

    @include mq-max("lg") {
      padding-block: 196px;
    }
  }
}
