.essence-paragraph {
  $paragraph-indent: 128px;
  $paragraph-indent-lg: 64px;

  @include column-center;
  padding: 280px $content-padding;
  gap: 48px;

  @include mq-max("xxl") {
    gap: 32px;
    padding: 264px $content-padding-xxl;
  }

  @include mq-max("xl") {
    padding: 216px $content-padding-xxl;
  }

  @include mq-max("lg") {
    padding: 196px $content-padding-xxl;
  }

  @include mq-max("md") {
    gap: 24px;
    padding: 164px $content-padding-md;
  }

  @include mq-max("sm") {
    padding: 164px $body-padding-sm;
  }

  &__heading {
    @extend .h6;
    @include row-center;
    gap: 12px;
  }

  &__body-text {
    @extend .h4;
    text-transform: initial;
    display: flex;
    gap: 0 14px;
    flex-wrap: wrap;

    @include mq-motion-allow {
      opacity: 0;
      transition: opacity 1.2s ease 0.2s;
    }

    @include mq-max("lg") {
      gap: 0 12px;
    }

    @include mq-max("sm") {
      gap: 0 8px;
    }

    .outter-span {
      display: flex;
      overflow: hidden;
      line-height: 124%;

      @include mq-max("sm") {
        line-height: unset;
      }

      &:first-of-type {
        margin-left: $paragraph-indent;

        @include mq-max("lg") {
          margin-left: $paragraph-indent-lg;
        }

        @include mq-max("md") {
          margin-left: 36px;
        }

        @include mq-max("sm") {
          margin-left: 16px;
        }
      }

      .inner-span {
        @include mq-motion-allow {
          translate: 0 100%;
        }
      }
    }

    &.animate {
      @include mq-motion-allow {
        opacity: 1;

        .outter-span {
          @for $i from 1 through 96 {
            &:nth-of-type(#{$i}) {
              .inner-span {
                translate: 0 0;
                transition: translate 0.5s ease 0.2s + 0.016s * $i;
              }
            }
          }
        }
      }
    }
  }

  &__footer {
    @include row-center(space-between);
    width: 100%;

    &:has(.essence-paragraph__subheader) {
      flex-direction: row-reverse;

      .essence-paragraph__subheader {
        translate: 12px 0;

        @include mq-max("sm") {
          translate: 4px 0;
        }
      }

      .essence-paragraph__link {
        translate: -12px 0;

        @include mq-max("sm") {
          translate: -4px 0;
        }
      }
    }
  }

  &__link {
    align-self: flex-start;
    translate: $paragraph-indent 0;

    @include mq-max("lg") {
      translate: $paragraph-indent-lg 0;
    }

    @include mq-max("md") {
      align-self: unset;
      translate: $body-padding-md 0;
    }

    @include mq-max("sm") {
      translate: $body-padding-sm 0;
    }
  }

  &.hero-paragraph {
    padding-block: 364px;

    @include mq-max("xxl") {
      padding-block: 296px;
    }

    @include mq-max("xl") {
      padding-block: 248px;
    }

    @include mq-max("lg") {
      padding-block: 196px;
    }
  }
}
