.essence-resources {
  &__header {
    @include row-end(space-between);
    margin-block-end: 24px;
  }

  &__heading {
    @include column-start;

    span:nth-of-type(2) {
      translate: 180px 0;

      @include mq-max("xxl") {
        translate: 140px 0;
      }

      @include mq-max("xl") {
        translate: 112px 0;
      }

      @include mq-max("lg") {
        translate: 96px 0;
      }

      @include mq-max("md") {
        translate: 0 0;
      }
    }
  }

  &__images {
    @include row-center(space-between);
    gap: 40px;

    @include mq-max("xxl") {
      gap: 32px;
    }

    @include mq-max("xl") {
      gap: 24px;
    }

    @include mq-max("lg") {
      gap: 16px;
    }

    @include mq-max("md") {
      flex-direction: column;
      gap: 48px;
    }

    @include mq-max("sm") {
      margin-block-end: 64px;
    }

    figure {
      flex: 1;

      @include mq-motion-allow {
        opacity: 0;
        scale: 0.9;
      }

      @include mq-max("md") {
        width: 100%;
      }

      img {
        opacity: 0;
      }

      figcaption {
        font-size: 22px;
        font-weight: 300;

        @include mq-motion-allow {
          transition: 0.6s $cubic-ease;
        }

        @include mq-max("xl") {
          font-size: 18px;
        }
      }

      &.animate {
        @include mq-motion-allow {
          opacity: 1;
          scale: 1;
          transition: 1.6s $cubic-ease;

          @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
              transition-delay: 0.12s + 0.08s * $i;
            }
          }
        }
      }
    }
  }

  &__link-sm {
    // Modifier :|
    @include mq-max("sm") {
      width: 180px;
      margin: auto;
    }
  }

  // Three.js // WebGL shaders
  @media all {
    canvas {
      display: block;
      transition: 0.8s ease;
      margin-block-end: 12px;

      &:hover {
        transform: scale(1.08);
      }
    }

    .wave-img-wrapper {
      position: relative;
      aspect-ratio: 508938 / 666812;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      margin-block-end: 12px;
      border-radius: $radius;
      filter: saturate(50%);
      transition: all 0.5s ease;

      &:hover,
      &:focus {
        filter: saturate(100%);

        canvas {
          transform: scale(1.08);
        }

        & ~ figcaption {
          color: var(--primary-accent-color);
        }
      }
    }

    .wave-img-wrapper > * {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
