.essence-resources {
  &__header {
    @include row-end(space-between);
    margin-bottom: 24px;

    // @include mq-max("sm") {
    //   flex-direction: column;
    //   align-items: flex-start;
    //   gap: 16px;
    // }
  }

  &__heading {
    @include column-start;

    span:nth-of-type(2) {
      translate: 180px 0;

      @include mq-max("xxl") {
        translate: 140px 0;
      }

      @include mq-max("xl") {
        translate: 112px 0;
      }

      @include mq-max("lg") {
        translate: 96px 0;
      }

      @include mq-max("md") {
        translate: 0 0;
      }
    }
  }

  &__images {
    @include row-center(space-between);
    gap: 40px;

    @include mq-max("xxl") {
      gap: 32px;
    }

    @include mq-max("xl") {
      gap: 24px;
    }

    @include mq-max("lg") {
      gap: 16px;
    }

    @include mq-max("md") {
      flex-direction: column;
      gap: 48px;
    }

    @include mq-max("sm") {
      margin-block-end: 64px;
    }

    figure {
      flex-grow: 1;

      @include mq-max("md") {
        width: 100%;
      }

      img {
        width: 100%;
        margin-block-end: 12px;

        @include mq-max("md") {
          height: 420px;
        }
      }

      figcaption {
        font-size: 22px;
        font-weight: 300;

        @include mq-max("xl") {
          font-size: 18px;
        }
      }
    }
  }

  // WebGL + Curtains
  @media all {
    #canvas-wrap {
      width: 510px;
      height: 710px;
      position: relative;
      overflow: hidden;
      margin-block-end: 48px;
    }

    /*** canvas ***/

    #canvas {
      position: absolute;
      top: 0;
      right: 0;
      width: 510px;
      height: 710px;
      left: 0;
    }

    #fullwidth-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 510px;
      height: 710px;
      // height: 100vh;
      // width: 100vw;
    }

    #fullwidth-image img,
    #fullwidth-image canvas {
      display: none;
    }

    /* handling WebGL context errors */

    .no-webgl #fullwidth-image {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .no-webgl #fullwidth-image img {
      display: block;
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }
  }
}
