// Used on all Archive pages, About page and Resources page
.slider-section {
  $header-height: 280px;
  $header-height-xxl: 256px;
  $header-height-xl: 236px;

  @include row-start;
  @include thin-section;
  gap: 48px;

  @media all {
    @include mq-max("xl") {
      gap: 24px;
    }

    @include mq-max("lg") {
      gap: 16px;
    }

    @include mq-max("md") {
      flex-direction: column;
      padding-inline: $content-padding-md;
    }

    @include mq-max("sm") {
      padding-inline: $body-padding-sm;
    }
  }

  .slider-header {
    @include column-start;
    position: sticky;
    top: 50%;
    translate: 0 -50%;
    flex: 1.5;
    height: $header-height;

    @include mq-max("xxl") {
      flex: 1.25;
      height: $header-height-xxl;
    }

    @include mq-max("xl") {
      height: $header-height-xl;
    }

    @include mq-max("lg") {
      flex: 1.12;
    }

    @include mq-max("md") {
      position: static;
      margin-block-end: 96px;
      translate: 0 0;
    }

    &__heading {
      text-transform: initial;
      line-height: 1;
      margin-block-end: 24px;
    }

    &__sub-heading {
      @include body-font-styles;
      width: 412px;
      margin-block-end: 40px;

      @include mq-max("xl") {
        width: 316px;
      }

      @include mq-max("lg") {
        width: 296px;
      }

      @include mq-max("md") {
        width: 364px;
      }

      @include mq-max("sm") {
        width: 92%;
        text-wrap: balance;
      }
    }

    a.slider-header__cta {
      translate: $simple-link-offset 0;
    }

    h3.slider-header__cta {
      margin-block-end: 20px;
    }

    &__cta-options {
      @include row-start;
      gap: 12px;
    }
  }

  .slider-listing {
    @include column-start;
    gap: 96px;
    flex: 1;
    translate: 0 calc($header-height / -2);

    @include mq-max("xxl") {
      gap: 64px;
      translate: 0 calc($header-height-xxl / -2);
    }

    @include mq-max("xl") {
      translate: 0 calc($header-height-xl / -2);
    }

    @include mq-max("md") {
      translate: 0 0;
    }

    &__group {
      @include column-start;
      gap: 24px;
      scroll-margin-block-start: 20vh;

      @include mq-max("md") {
        gap: 16px;
      }

      @include mq-max("sm") {
        scroll-margin-block-start: 12vh;
        scroll-margin-block-start: 12dvh;
      }
    }

    &__group-heading {
      @include title-underline;
      align-self: stretch;
      text-transform: initial;
      padding-block-end: 16px;

      .group-heading-number {
        font-size: 14px;
        display: block;
        translate: -18px 12px;

        @include mq-max("xxl") {
          font-size: 12px;
        }

        @include mq-max("sm") {
          translate: 0 0;
        }
      }
    }

    &__group-list {
      @include column-start;
      gap: 16px;

      li.gsap-animate {
        @include body-font-styles;

        @include mq-motion-allow {
          opacity: 0;
          translate: 0 12px;
          rotate: 2deg;
          pointer-events: none;
          transition: 1.2s ease;

          &.animate {
            opacity: 1;
            translate: 0 0;
            rotate: 0deg;
            pointer-events: all;
          }
        }
      }
    }
  }
}
