.essence-team {
  // border: $test;
  padding-block: 136px;
  overflow: hidden;

  @include mq-max("xxl") {
    padding-block: 80px;
  }

  // .essence-resources__header {
  //   justify-content: flex-end;

  //   span {
  //     translate: 0 0;
  //   }
  // }
}

.pinned-slider {
  // border: $test;
  display: flex;

  &__inner {
    display: flex;
    gap: 64px;

    @include mq-max("xxl") {
      gap: 48px;
    }

    @include mq-max("xl") {
      gap: 32px;
    }
  }

  .portrait {
    img {
      // width: 452px;
      width: 24vw;

      @include mq-max("lg") {
        // width: 360px;
        width: 28vw;
      }

      @include mq-max("md") {
        // width: 360px;
        width: 48vw;
      }
    }
  }
}
