.essence-team {
  // border: $test;
  padding-block: 136px;
  overflow: hidden;

  @include mq-max("xxl") {
    padding-block: 80px;
  }

  @include mq-max("md") {
    // padding-block: 124px;
    padding-block: 16vh;
    padding-block: 16dvh;
  }

  @include mq-max("sm") {
    padding-block: 18vh;
    padding-block: 18dvh;
  }

  // .essence-resources__header {
  //   justify-content: flex-end;

  //   span {
  //     translate: 0 0;
  //   }
  // }
}

.pinned-slider {
  // border: $test;
  display: flex;

  &__inner {
    display: flex;
    gap: 64px;

    @include mq-max("xxl") {
      gap: 48px;
    }

    @include mq-max("xl") {
      gap: 32px;
    }
  }

  .portrait {
    width: min(24vw, 464px);
    aspect-ratio: 586 / 880;

    @include mq-max("lg") {
      width: 28vw;
    }

    @include mq-max("md") {
      width: 52vw;
    }

    &-wrapper {
      width: 100%;
      // height: 100%;
      overflow: hidden; // To allow figcaption to NOT be hidden
      margin-block-end: 12px;
    }

    img {
      width: 116%;
      translate: -5% 0;
      opacity: 0.9;
    }

    figcaption {
      font-size: 18px;
      font-weight: 300;
      text-wrap: balance;

      @include mq-max("xxl") {
        font-size: 15px;
      }

      @include mq-max("md") {
        font-size: 14px;
      }
    }
  }
}
