.text-block {
  @include row-center;

  @include mq-max("sm") {
    padding-block: 164px;
  }

  &__text {
    text-transform: initial;
    text-align: center;
  }

  &__line {
    @include row-center;
    position: relative;
    overflow: hidden;

    span:first-of-type {
      translate: 0 0;
    }
    span:last-of-type {
      position: absolute;
      translate: 0 -102%;
    }
  }
}
