.cta-wrapper {
  $position-trasition-timing: 0.5s;

  @include row-center;
  position: absolute;
  // top: 640px; // reset by keyframe
  right: 50%;
  translate: 50% 0;
  gap: 12px;
  // transition: top 0.5s ease, right 0.5s ease;
  transition: $position-trasition-timing ease;
  animation: cta-default $position-trasition-timing ease forwards;

  .cta-1 {
    color: var(--primary-font-color);
    padding: 8px 24px;
    border: 1px solid var(--primary-font-color);
    border-radius: 24px;
  }

  &.scroll-active {
    position: fixed;
    // top: calc(100vh - $body-padding * 1.5);
    // bottom: $body-padding;/
    animation: cta $position-trasition-timing ease forwards;
    right: $body-padding;
    translate: 0 0;
  }
}
