---
title: "ESSENCE • Films"
layout: "archives"
category: "Film"

paragraphHeading: "Our Films"
paragraphHeadingLevel: "h1"
paragraphClass: "essence-paragraph hero-section hero-paragraph"
paragraphBody: "Each film is a carefully woven tapestry of images and narratives that inspire viewers to rethink their relationships with their possessions and their passions. From intimate documentaries to compelling short films, immerse yourself in cinematic journeys that resonate with the essence of a focused, fulfilled life."

subheading: "Watch with us and experience the beauty of the world through the lens of less."

textBlockLine1: "Embark on a journey"
textBlockLine2: "of mindfulness and"
textBlockLine3: "clarity with us."
---

{% set listContent = collections.films | sort(attribute='data.title') %}

<div class="slider-listing__group">
  <h3 class="slider-listing__group-heading gsap-animate">Collection</h3>

  <ul class="slider-listing__group-list">
    <li class="gsap-animate">Coming soon</li>
    {% for post in listContent %}
    <li class="gsap-animate">
      <a href="{{ post.url | url }}" class="tab-element-page classic-link">
        <!-- prettier-ignore -->
        {% if post.data.title %} 
                {{ post.data.title }} 
            {% else %} 
                Untitled 
            {%endif %}
        <!-- prettier-ignore -->
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
