---
title: "ESSENCE • Films"
layout: "archives"
category: "Film"

paragraphHeading: "Our Films"
paragraphHeadingLevel: "h1"
paragraphClass: "essence-paragraph hero-section hero-paragraph"
paragraphBody: "Each film is a carefully woven tapestry of images and narratives that inspire viewers to rethink their relationships with their possessions and their passions. From intimate documentaries to compelling short films, immerse yourself in cinematic journeys that resonate with the essence of a focused, fulfilled life."

subheading: "Watch with us, and see the world through the lens of less."
reference-quote: "Whether you're seeking guidance, reflection, or motivation, our books provide a timeless companion on your journey to intentional living."

textBlockWidth: ""
textBlockBody: "Dive deeper into a life less ordinary, enriched by the essentials."
---

{% set listContent = collections.books | sort(attribute='data.title') %}

<div class="slider-list__category">
  <h3 class="slider-list__heading">Collection</h3>

  {% for post in listContent %}

  <a
    href="{{ post.url | url }}"
    class="archive-list__link tab-element-page classic-link"
  >
    <!-- prettier-ignore -->
    {% if post.data.title %} 
              {{ post.data.title }} 
          {% else %} 
              Untitled 
          {%endif %}
    <!-- prettier-ignore -->
  </a>
  {% endfor %}
</div>
