---
title: "ESSENCE • Podcast"
description: "ESSENCE podcasts are a popular resources that guides you towards a simpler, more focused lifestyle."
layout: "archives"
category: "Podcast"

paragraphHeading: "Our Podcast"
paragraphHeadingLevel: "h1"
paragraphClass: "essence-paragraph hero-section hero-paragraph"
paragraphBody: "ESSENCE audio experiences are your gateway to a world of thoughtful dialogue and transformative insights. Every episode is an invitation to engage with experts and enthusiasts who believe in the power of less. Discover the sounds of simplicity with us."

subheading: "Tune in to explore innovative ideas and practical strategies for simplifying your life and enhancing your focus."

textBlockLine1: "Embark on a journey"
textBlockLine2: "of mindfulness and"
textBlockLine3: "clarity with us."
---

{% set listContent = collections.podcast | sort(attribute='data.date') %}

<div class="slider-listing__group">
  <h3 class="slider-listing__group-heading gsap-animate">Most popular</h3>
  <ul class="slider-listing__group-list">
    <li class="gsap-animate">
      <a
        href="{{ collections.podcast[0].url }}"
        class="tab-element-page classic-link"
      >
        {{ collections.podcast[0].data.title }}
      </a>
    </li>
    <!-- prettier-ignore -->
    {% for post in listContent | reverse %} 
      {% if "popular" in post.data.tags %}
    <li class="gsap-animate">
      <a href="{{ post.url | url }}" class="tab-element-page classic-link">
        {{ post.data.title | default('Untitled') }}
      </a>
    </li>
    {% endif %} {% endfor %}
    <!-- prettier-ignore -->
  </ul>
</div>

<div class="slider-listing__group">
  <h3 class="slider-listing__group-heading gsap-animate">Episodes</h3>

  <ul class="slider-listing__group-list">
    {% for post in listContent | reverse %}
    <li class="gsap-animate">
      <a href="{{ post.url | url }}" class="tab-element-page classic-link">
        <!-- prettier-ignore -->
        {% if post.data.title %} 
              {{ post.data.title }} 
          {% else %} 
              Untitled 
          {%endif %}
        <!-- prettier-ignore -->
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
