.about-hero {
  padding-block: $body-padding;

  .collage {
    $animation-duration: 2s;
    $animation-delay: 0.8s;

    @include row-start;
    gap: 12px;
    overflow: hidden;

    opacity: 0;
    scale: 1.12;
    animation: scale-in $animation-duration $cubic-ease-slow-start
      $animation-delay forwards;

    .collage-column {
      flex-grow: 1;

      &__column-1,
      &__column-3,
      &__column-5 {
        @include mq-motion-allow {
          translate: 0 -164px;
          animation: restore-translate $animation-duration
            $cubic-ease-slow-start $animation-delay forwards;
        }
      }

      &__column-2,
      &__column-4 {
        @include mq-motion-allow {
          translate: 0 164px;
          animation: column-offset $animation-duration $cubic-ease-slow-start
            $animation-delay forwards;
        }
      }

      &__column-5 {
        @include mq-max("xl") {
          display: none;
        }
      }

      &__column-1 {
        @media (max-width: 956px) {
          display: none;
        }
      }

      &__inner {
        @include column-center;
        gap: 12px;
      }
    }

    .collage-figure {
      width: 100%;
      aspect-ratio: 2 / 3;
      overflow: hidden;
      border-radius: 12px;

      @include mq-max("md") {
        border-radius: 8px;
      }

      img {
        width: 100%;
        opacity: 0.75;
      }
    }
  }
}
