body:has(.about-hero) {
  // .header-logo__text .letter-wrapper__letter:first-of-type {
  //   opacity: 0 !important;
  // }

  .essence-paragraph__about-us {
    padding-block: 212px 356px;

    @include mq-max("xxl") {
      padding-block: 148px 296px;
    }

    @include mq-max("lg") {
      padding-block: 124px 236px;
    }

    @include mq-max("md") {
      padding-block: 148px 296px;
    }

    @include mq-max("sm") {
      padding-block: 96px 264px;
    }
  }

  .text-block {
    padding-block-end: 296px;

    @include mq-max("sm") {
      padding-block-end: 64px;
    }
  }
}

.about-hero {
  padding-block: $body-padding 0;

  .collage {
    $animation-duration: 2s;
    $animation-delay: 0.4s;

    @include row-start;
    gap: 12px;
    overflow: hidden;
    opacity: 0;
    scale: 1.12;
    // Figure out prefers reduced motion

    @include mq-max("sm") {
      translate: 0 24px;
      scale: 1.08;
    }

    .collage-column {
      flex-grow: 1;

      &__column-5 {
        @include mq-max("xl") {
          display: none;
        }
      }

      &__column-4 {
        @media (max-width: 956px) {
          display: none;
        }
      }

      &__column-1 {
        @media (max-width: 580px) {
          display: none;
        }
      }

      &__inner {
        @include column-center;
        gap: 12px;
      }
    }

    .collage-figure {
      width: 100%;
      aspect-ratio: 2 / 3;

      img {
        width: 100%;
        opacity: 0.75;
        border-radius: $radius;

        @include mq-max("md") {
          border-radius: 8px;
        }
      }

      &__mobile-view {
        display: none;

        @media (max-width: 580px) {
          display: block;
        }
      }
    }

    &.animate {
      @include mq-motion-allow {
        animation: scale-in $animation-duration $cubic-ease-slow-start
          $animation-delay forwards;

        .collage-column__column-1,
        .collage-column__column-3,
        .collage-column__column-5 {
          translate: 0 -164px;
          animation: restore-translate $animation-duration
            $cubic-ease-slow-start $animation-delay forwards;

          @media (max-width: 580px) {
            // translate: 0 164px;
            animation: column-offset $animation-duration $cubic-ease-slow-start
              $animation-delay forwards;
          }
        }

        .collage-column__column-2,
        .collage-column__column-4 {
          translate: 0 164px;
          animation: column-offset $animation-duration $cubic-ease-slow-start
            $animation-delay forwards;

          @media (max-width: 580px) {
            // translate: 0 -164px;

            animation: restore-translate $animation-duration
              $cubic-ease-slow-start $animation-delay forwards;
          }
        }
      }
    }
  }
}

.growth-section {
  // See '.slider-section' in _globals.scss

  .growth-header {
    margin-inline-start: 96px;

    @include mq-max("xxl") {
      margin-inline-start: 24px;
      flex: 1.6;
    }

    @include mq-max("lg") {
      margin-inline-start: 0;
    }

    @include mq-max("md") {
      margin-block-end: 56px;
    }
  }

  .growth-list {
    gap: 148px;

    @include mq-max("xxl") {
      gap: 64px;
    }

    &__category {
      gap: 8px;
    }

    &__heading {
      display: flex;
      border: none;
      margin: 0;
      padding: 0;

      @include mq-max("md") {
        font-size: calc(64px + 6.4vw);
      }

      @include mq-max("sm") {
        font-size: calc(52px + 6.4vw);
      }
    }

    h4 {
      @include body-font-styles;
      text-transform: lowercase;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  // Pulled css from Jackson Lynch 'Counter' see codepen
  @media all {
    @mixin stagger-transition-delay($i, $initial-delay, $stagger-delay) {
      @while $i > 0 {
        &:nth-of-type(#{$i}) {
          transition-delay: ($initial-delay + $stagger-delay * $i);
        }
        $i: $i - 1;
      }
    }

    .number-counter {
      display: flex;
    }

    .digit {
      @include stagger-transition-delay(20, 0, 90ms);
      display: block;
      width: 59px;
      height: 112px;
      overflow: hidden;
      transition-property: transform;

      @include mq-max("xxl") {
        width: 52px;
        height: 96px;
      }

      @include mq-max("xl") {
        width: 46px;
        height: 84px;
      }

      @include mq-max("md") {
        width: calc(40px + 4vw);
        height: calc(80px + 6vw);
      }

      @include mq-max("sm") {
        width: calc(32px + 4vw);
        // height: calc(68px + 6vw);
        height: calc(60px + 6vw);
      }
    }

    .sequence {
      display: block;
      transition-property: transform;
      transition-duration: 2000ms;
      transition-delay: inherit;
    }
  }
}

// See pinned-img-slider for component styles
.essence-team {
  .essence-team__header {
    position: absolute;
    top: 10vh;
    top: 10dvh;
    left: 50%;
    translate: -50% 0;
    justify-content: center;
    width: 100%;

    @include mq-max("xxl") {
      top: 8vh;
      top: 8dvh;
    }

    @include mq-max("sm") {
      top: 16vh;
      top: 16dvh;
    }

    .essence-team__heading {
      @include row-center;
      overflow: hidden;

      @include mq-motion-allow {
        span {
          translate: 0 100%;
          transition: 0.6s ease;
        }
        &.animate {
          span {
            translate: 0 0;
          }
        }
      }
    }
  }
}
