.archive-prefooter {
  @include row-center;

  &__heading {
    width: 496px;
    text-transform: initial;
    text-align: center;

    @include mq-max("xxl") {
      width: 348px;
    }

    @include mq-max("sm") {
      width: 312px;
    }
  }
}
