section.contact-hero {
  .classic-hero__heading {
    &-text {
      &-inner:last-of-type {
        display: inline-flex;
      }
    }

    &.animate {
      $duration: 3.2s;
      $duration-lg: 2.5s;
      $delay-lg: 0.27s;
      .classic-hero__heading-text-inner:last-of-type {
        animation: text-letters-2-contact $duration $cubic-ease 0.2s forwards;
      }
    }
  }
}

.locations {
  @include column-center;
  gap: 156px;
  padding-block: 296px;

  @include mq-max("xxl") {
    padding-block: 256px;
  }

  @include mq-max("lg") {
    @include thin-section;
  }

  &__block {
    @include row-center;
    gap: 6vw;

    @include mq-max("lg") {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }
  }

  &__figure {
    width: 32%;
    border-radius: $radius;
    overflow: hidden;
    display: flex;

    @include mq-motion-allow {
      opacity: 0;
      scale: 0.9;
      transition: 1.6s $cubic-ease;

      &.animate {
        opacity: 1;
        scale: 1;

        @for $i from 1 through 3 {
          &:nth-of-type(#{$i}) {
            transition-delay: 0.12s + 0.08s * $i;
          }
        }
      }
    }

    @include mq-max("lg") {
      width: 64%;
    }

    @include mq-max("md") {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  &__details {
    @include column-start;
    gap: 24px;
    width: 36%;
    // position: sticky;
    // top: 40vh;

    @include mq-max("xxl") {
      width: 40%;
    }

    @include mq-max("xl") {
      width: 48%;
    }

    @include mq-max("lg") {
      gap: 16px;
      width: 100%;
    }

    &-title {
      text-wrap: nowrap;
    }

    &-address,
    &-phone,
    &-time {
      @include body-font-styles;
      display: flex;
      align-items: flex-start;
      gap: 12px;
      width: 50%;
      text-wrap: balance;

      @include mq-motion-allow {
        transition: 0.3s ease;
      }

      &:hover,
      &:focus {
        color: var(--primary-accent-color);

        span {
          color: var(--primary-accent-color);
        }

        path {
          fill: var(--primary-accent-color);
        }
      }

      svg {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        translate: 0 6px;

        @include mq-max("md") {
          translate: 0 3px;
        }

        path {
          @include mq-motion-allow {
            transition: 0.3s ease;
          }
        }
      }

      // .lottie {
      //   width: 14px;
      //   flex-shrink: 0;
      //   scale: 6;
      //   translate: 0 6px;

      //   @include mq-max("sm") {
      //     scale: 1;
      //     width: 64px;
      //     translate: -24px 0;
      //   }

      //   &-2 {
      //     scale: 3;
      //   }
      // }

      span {
        // width: 280px;

        @include mq-motion-allow {
          transition: 0.3s ease;
        }
      }
    }

    &-time {
      &:hover,
      &:focus {
        path {
          fill: var(--primary-font-color);
        }
      }
    }
  }
}
