.locations {
  @include column-center;
  gap: 156px;
  padding-block: 296px;

  @include mq-max("xxl") {
    padding-block: 256px;
  }

  @include mq-max("lg") {
    @include thin-section;
  }

  &__block {
    @include row-center;
    gap: 6vw;

    @include mq-max("lg") {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }
  }

  &__figure {
    width: 32%;
    border-radius: $radius;
    overflow: hidden;
    display: flex;

    @include mq-max("lg") {
      width: 64%;
    }

    @include mq-max("md") {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  &__details {
    @include column-start;
    gap: 24px;
    width: 36%;
    // position: sticky;
    // top: 40vh;

    @include mq-max("xxl") {
      width: 40%;
    }

    @include mq-max("xl") {
      width: 48%;
    }

    @include mq-max("lg") {
      gap: 16px;
      width: 100%;
    }

    &-title {
      text-wrap: nowrap;
    }

    &-address,
    &-phone {
      @include body-font-styles;
      display: flex;
      align-items: flex-start;
      gap: 12px;
      width: 50%;

      @include mq-motion-allow {
        transition: 0.3s ease;
      }

      &:hover,
      &:focus {
        color: var(--primary-accent-color);

        path {
          fill: var(--primary-accent-color);
        }
      }

      svg {
        flex-shrink: 0;
        width: 14px;
        translate: 0 6px;

        path {
          @include mq-motion-allow {
            transition: 0.3s ease;
          }
        }
      }
    }
  }
}
