.home-hero {
  &__heading {
    display: flex;
    gap: 24px;

    @include mq-max("lg") {
      flex-direction: column;
      line-height: 80%;
      font-size: calc(4vw + 32px);
    }

    @include mq-max("md") {
      gap: 12px;
    }
  }

  &__subtext {
    @include mq-max("md") {
      font-size: 14px;
    }

    @include mq-max("sm") {
      font-size: 12px;
    }
  }
}
