.home-hero {
  @include column-center;
  padding-block: 396px;
  gap: 24px;

  @include mq-max("xxl") {
    padding-block: 312px;
  }

  @include mq-max("xl") {
    padding-block: 264px;
  }

  @include mq-max("lg") {
    padding-block: 224px;
  }

  @include mq-max("md") {
    padding-block: 196px;
  }

  @include mq-max("sm") {
    padding-block: 248px;
  }

  @media (max-height: 520px) {
    padding-block: 128px;
  }

  h1,
  p {
    text-align: center;
  }

  &__heading {
    $text-shift: 24px;

    display: flex;
    gap: 24px;

    @include mq-max("lg") {
      flex-direction: column;
      line-height: 80%;
      font-size: calc(4vw + 32px);
    }

    @include mq-max("md") {
      gap: 12px;
    }

    span:first-of-type {
      @include mq-max("md") {
        translate: -$text-shift 0;
      }
    }

    span:last-of-type {
      @include mq-max("md") {
        translate: $text-shift 0;
      }
    }
  }

  &__subtext {
    opacity: 0.5;
    font-size: 16px;

    @include mq-max("md") {
      font-size: 14px;
    }

    @include mq-max("sm") {
      font-size: 12px;
    }
  }
}

// Might not have traditional loader (see bonnies dance school)
.loading-screen {
  border: $test;
  position: fixed;
  top: 0;
  display: none;
}
