.home-hero {
  @include column-center;
  padding-block: 396px;
  gap: 24px;

  @include mq-max("xxl") {
    padding-block: 312px;
  }

  @include mq-max("xl") {
    padding-block: 264px;
  }

  @include mq-max("lg") {
    padding-block: 224px;
  }

  @include mq-max("md") {
    padding-block: 196px;
  }

  @include mq-max("sm") {
    padding-block: 248px;
  }

  @media (max-height: 520px) {
    padding-block: 128px;
  }

  h1,
  p {
    text-align: center;
  }

  &__heading {
    $text-shift: 24px;

    display: flex;
    gap: 24px;
    // overflow: hidden;

    @include mq-max("lg") {
      flex-direction: column;
      line-height: 80%;
      font-size: calc(4vw + 32px);
    }

    @include mq-max("md") {
      gap: 12px;
      width: 96vw;
      padding: 4px;
    }

    // span {
    //   translate: 0 100%;

    //   @include mq-motion-allow {
    //     transition: 0.8s $cubic-ease 0.2s;
    //   }
    // }

    &-text {
      @include row-center;
      overflow: hidden;

      &:first-of-type {
        // border: $test;
        translate: 50% 0;

        @include mq-max("md") {
          translate: 0 0;
        }

        .home-hero__heading-text-inner-2 {
          position: absolute;
          top: 0;
        }
      }

      // &:last-of-type {
      //   @include mq-max("md") {
      //     translate: $text-shift 0;
      //   }
      // }

      span {
        translate: 0 100%;

        @include mq-max("md") {
          padding: 2px 0;
        }
      }
    }

    &.animate {
      .home-hero__heading-text {
        &:first-of-type {
          animation: text-group-1 2s $cubic-ease 0.2s forwards;

          @include mq-max("md") {
            translate: 0 0;
            animation: text-group-1-md 2s $cubic-ease 0.2s forwards;
          }
          .home-hero__heading-text-inner-1 {
            animation: text-letters-1 2s $cubic-ease 0.2s forwards;
          }
          .home-hero__heading-text-inner-2 {
            animation: text-letters-2 2s $cubic-ease 0.2s forwards;
          }
        }

        &:last-of-type {
          @include mq-max("md") {
            animation: text-group-2-md 2s $cubic-ease 0.2s forwards;
          }
          .home-hero__heading-text-inner-1 {
            animation: text-letters-2 2s $cubic-ease 0.34s forwards;

            @include mq-max("md") {
              animation-delay: 0.2s;
            }
          }
        }

        // span {
        //   @include mq-motion-allow {
        //     transition: 1s $cubic-ease 0.5s;
        //   }
        // }
      }
    }
  }

  &__subtext {
    opacity: 0.5;
    // opacity: 0.2;
    font-size: 16px;

    @include mq-max("md") {
      font-size: 14px;
    }

    @include mq-max("sm") {
      font-size: 12px;
    }
  }
}

// Might not have traditional loader (see bonnies dance school)
.loading-screen {
  border: $test;
  position: fixed;
  top: 0;
  display: none;
}
