.post-hero {
  @include thin-section;
  padding-block: 448px;

  @media all {
    @include mq-max("xxl") {
      padding-block: 328px;
    }

    @include mq-max("xl") {
      padding-block: 316px;
    }

    @include mq-max("lg") {
      padding-block: 248px;
    }

    @include mq-max("md") {
      padding-block: 280px;
    }

    @include mq-max("sm") {
      padding-inline-start: $body-padding-sm;
    }
  }

  &__category {
    align-self: center;
    font-size: 16px;
    font-weight: 300;

    @include mq-max("md") {
      font-size: 14px;
    }

    .divider {
      padding-inline: 4px;
    }
  }

  &__heading {
    margin-block: 12px;
  }

  &__author,
  &__guest {
    @include row-center(flex-start);
    @include body-font-styles;
    gap: 12px;
  }

  // Podcast
  &__guest {
    @include row-center(space-between);
  }
}

.post-body {
  @include thin-section;

  &__heading {
    @include title-underline;
    margin: auto;
    text-transform: capitalize;
    margin-block-end: 64px;
    padding-block-end: 24px;

    @media all {
      @include mq-max("xxl") {
        margin-block-end: 56px;
        padding-block-end: 16px;
      }

      @include mq-max("md") {
        margin-block-end: 48px;
        padding-block-end: 12px;
      }
    }
  }

  p {
    @include body-font-styles;
  }

  // Use "modes: ["raw"]" to toggle 'rich text' feature. Visit https://decapcms.org/docs/widgets/#markdown for more
  .rich-text {
    margin-block-end: 128px;
    margin: auto;

    h2 {
      @extend .h5;
    }
    h3 {
      @extend .h6;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      text-transform: initial;
    }

    p {
      margin-block: 24px;
    }

    p ~ h2,
    p ~ h3 {
      margin-block-start: 64px;
    }

    p:has(img) {
      @include row-center;
      margin-block: 96px;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: $radius;
      }
    }

    ol,
    ul {
      $x-offset: 24px;

      @include column-start;
      @include body-font-styles;
      gap: 12px;
      translate: $x-offset 0;
      width: calc(100% - $x-offset);
      margin-block: 48px;

      strong {
        font-weight: 500;
      }
    }

    ul {
      list-style: initial;

      @include mq-max("sm") {
        translate: 0 0;
        width: 100%;
      }
    }

    a {
      @extend .classic-link;
      color: $green;
    }
  }
}

.post-image {
  overflow: hidden;
  height: 72vh;
  height: 72dvh;
  min-height: 720px;
  padding: 0;

  @media all {
    @include mq-max("xxl") {
      min-height: 640px;
    }

    @include mq-max("lg") {
      min-height: 520px;
    }
  }

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;

    img {
      position: relative;
      width: 120%;
      height: 120%;
      z-index: -1;

      @include mq-max("md") {
        min-height: 520px;
        width: 100%;
      }
    }
  }

  &__full {
    img {
      width: 100%;
    }
  }

  &__wide {
    @include row-center;
    background: white;

    @include mq-max("md") {
      min-height: auto;
      height: auto;
      padding: 64px 0;
    }

    img {
      width: 60%;

      @include mq-max("md") {
        width: 100%;
      }
    }
  }
}

.post-footer-nav {
  $link-spacing: 24px;
  $link-spacing-sm: 16px;

  @extend section;
  @include row-center;
  gap: 96px;

  @include mq-max("md") {
    gap: 48px;
  }

  @include mq-max("sm") {
    gap: 36px;
  }

  // Modifier!
  .simple-link {
    @include mq-max("sm") {
      font-size: 16px;
    }

    @include mq-max("xxs") {
      font-size: 13px;
    }

    &::before {
      display: none;
    }
  }
}

// Podcast
.video-section {
  $btn-hover-scale: 1.25;

  @include column-center;
  min-height: 100vh;
  min-height: 100dvh;

  &__poster {
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: $radius;
    cursor: pointer;

    &:hover {
      & + .video-section__play-btn {
        scale: $btn-hover-scale;
        // border: 3px solid var(--primary-accent-color);
        // scale: 0.75;

        // svg {
        //   path {
        //     fill: var(--primary-accent-color);
        //   }
        // }
      }
    }

    &:active {
      & + .video-section__play-btn {
        scale: 1;
        // border: 2px solid var(--background-color);

        // svg {
        //   path {
        //     fill: var(--background-color);
        //   }
        // }
      }
    }

    @include mq-max("md") {
      aspect-ratio: 2 / 1.5;
    }
  }

  &__play-btn {
    @include absolute-center;
    @include row-center;
    border: 2px solid var(--background-color);
    width: 128px;
    height: 128px;
    border-radius: 50%;
    backdrop-filter: blur(6px);
    pointer-events: none;

    @media all {
      @include mq-motion-allow {
        transition: 0.8s $cubic-ease;
      }

      @include mq-max("xxl") {
        width: 116px;
        height: 116px;
      }

      @include mq-max("xl") {
        width: 96px;
        height: 96px;
      }

      @include mq-max("md") {
        width: 14vw;
        height: 14vw;
      }
    }

    &:focus-visible {
      scale: $btn-hover-scale;
    }

    svg {
      width: 22px;
      translate: 3px 0;

      @media all {
        @include mq-max("xxl") {
          width: 20px;
        }

        @include mq-max("xl") {
          width: 16px;
        }

        @include mq-max("md") {
          width: 2.6vw;
          translate: 2px 0;
        }

        @include mq-max("sm") {
          translate: 1px 0;
        }
      }

      path {
        fill: var(--background-color);

        @include mq-motion-allow {
          transition: 0.8s $cubic-ease;
        }
      }
    }
  }

  &__dialog {
    @include row-center;
    opacity: 0;
    background: rgba($black, 0.95);
    backdrop-filter: blur(3px);
    cursor: alias;

    @include mq-motion-allow {
      transition: opacity 0.6s ease 0.4s;
    }

    iframe {
      width: 70vw;
      height: 40vw;
      border-radius: $radius;
      scale: 0.8;
      visibility: hidden;

      @include mq-motion-allow {
        transition: 0.8s ease;
      }

      @include mq-max("md") {
        width: 86vw;
        height: 72vw;
      }
    }

    .mouse-cursor {
      p {
        background: linear-gradient($grey-light, $white);
        color: var(--primary-font-color);
      }
    }

    &[open] {
      @include mq-motion-allow {
        transition: opacity 0.6s ease;
      }

      .dialog__close-btn-wrapper {
        transition: 0.3s ease 0s;
      }

      iframe {
        scale: 1;
        visibility: visible;

        @include mq-motion-allow {
          transition: 0.8s ease 0.4s;
        }
      }
    }
  }
}

.podcast-quote {
  &__blockquote {
    @extend .h5;
    position: absolute;
    top: 50%;
    color: var(--background-color);
    text-transform: lowercase;
    max-width: 792px;
    z-index: 2;

    @include mq-max("xxl") {
      max-width: 580px;
    }

    @include mq-max("lg") {
      font-size: 20px;
      max-width: 416px;
    }

    @include mq-max("md") {
      width: 78%;
    }

    &::first-letter {
      text-transform: capitalize;
    }

    &-guest {
      @extend .h6;
      display: block;
      translate: $podcast-quote-offset 24px;
      // color: currentColor;
      // color: var(--secondary-font-color);
      color: $yellow;
      text-transform: capitalize;

      @include mq-motion-allow {
        opacity: 0;
        margin-inline-start: -24px;
      }

      @include mq-max("xxl") {
        translate: $podcast-quote-offset-xxl 20px;
      }

      @include mq-max("md") {
        translate: $podcast-quote-offset-md 16px;
      }

      &.animate {
        opacity: 1;
        margin-inline-start: 0;
        transition: 1s $cubic-ease 0.6s;
      }
    }
  }

  &__image {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.4);
    }
  }

  &--left {
    .podcast-quote__blockquote {
      @include left-spacing;
      translate: 12% -50%;

      @include mq-max("md") {
        translate: $body-padding-sm -50%;
      }

      @include mq-max("sm") {
        translate: $body-padding-sm -50%;
      }
    }

    .podcast-quote__image {
      img {
        @include mq-max("md") {
          object-position: 60% 50%;
        }
      }
    }
  }

  &--right {
    .podcast-quote__blockquote {
      @include right-spacing;
      translate: -12% -50%;

      @include mq-max("md") {
        translate: -$body-padding-md -50%;
      }

      @include mq-max("sm") {
        translate: -$body-padding-sm -50%;
      }
    }

    .podcast-quote__image {
      img {
        translate: -10% 0;
        @include mq-max("md") {
          object-position: 40% 50%;
        }
      }
    }
  }
}

// Books
.author-bio {
  @include row-start;
  gap: 64px;

  @include mq-max("lg") {
    flex-direction: column;
  }

  & > * {
    width: 50%;

    @include mq-max("lg") {
      width: 100%;
    }
  }

  img {
    width: 100%;
    border-radius: $radius;
    translate: 0 20%;

    @include mq-max("lg") {
      width: 248px;
      height: 248px;
      object-position: top;
    }

    @include mq-max("md") {
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
    }
  }
}
