.post-hero {
  @include thin-section;
  padding-block: 448px;

  @include mq-max("xxl") {
    padding-block: 328px;
  }

  @include mq-max("xl") {
    padding-block: 316px;
  }

  @include mq-max("lg") {
    padding-block: 248px;
  }

  @include mq-max("md") {
    padding-block: 280px;
  }

  @include mq-max("sm") {
    padding-inline-start: $body-padding-sm;
  }

  &__category {
    @include body-font-styles;
    align-self: center;
  }

  &__heading {
    margin-block: 12px;
    text-transform: capitalize;
  }

  // Blog
  &__author {
    @include row-center(flex-start);
    gap: 12px;
    font-size: 16px;
    font-weight: 300;

    @include mq-max("md") {
      font-size: 14px;
    }
  }

  // Podcast
  &__guest {
    @include row-center(space-between);
    gap: 12px;
    font-size: 16px;
    font-weight: 300;

    @include mq-max("md") {
      font-size: 14px;
    }
  }
}

.post-body {
  @include thin-section;

  article {
    margin-block-end: 128px;
    margin: auto;

    h2 {
      @extend .h5;
    }
    h3 {
      @extend .h6;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      text-transform: initial;
    }

    p {
      @include body-font-styles;
      margin-block: 24px;
    }

    p ~ h2,
    p ~ h3 {
      margin-block-start: 64px;
    }

    p:has(img) {
      @include row-center;
      margin-block: 96px;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    ol,
    ul {
      $x-offset: 24px;

      @include column-start;
      @include body-font-styles;
      gap: 12px;
      translate: $x-offset 0;
      width: calc(100% - $x-offset);
      margin-block: 48px;

      strong {
        font-weight: 500;
      }
    }

    ul {
      @include mq-max("sm") {
        translate: 0 0;
        width: 100%;
      }
    }

    a {
      @extend .classic-link;
      color: $green;
    }
  }

  &.post-body__podcast {
    h2 {
      margin: auto;
      text-transform: capitalize;
      margin-block-end: 64px;
    }
  }
}

.post-footer-nav {
  $link-spacing: 24px;
  $link-spacing-sm: 16px;

  @extend section;
  @include row-center;
  gap: 96px;

  // Modifier!
  .simple-link {
    @include mq-max("sm") {
      font-size: 16px;
    }

    @include mq-max("xxs") {
      font-size: 13px;
    }

    &::before {
      display: none;
    }
  }
}

.video-section {
  $btn-hover-scale: 1.25;

  @include column-center;
  min-height: 100vh;
  min-height: 100dvh;

  &__poster {
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: $radius;
    cursor: pointer;

    &:hover {
      & + .video-section__play-btn {
        scale: $btn-hover-scale;
        // border: 3px solid var(--primary-accent-color);
        // scale: 0.75;

        // svg {
        //   path {
        //     fill: var(--primary-accent-color);
        //   }
        // }
      }
    }

    &:active {
      & + .video-section__play-btn {
        scale: 1;
        // border: 2px solid var(--background-color);

        // svg {
        //   path {
        //     fill: var(--background-color);
        //   }
        // }
      }
    }

    @include mq-max("md") {
      aspect-ratio: 2 / 1.5;
    }
  }

  &__play-btn {
    @include absolute-center;
    @include row-center;
    border: 2px solid var(--background-color);
    width: 128px;
    height: 128px;
    border-radius: 50%;
    backdrop-filter: blur(6px);
    pointer-events: none;

    @media all {
      @include mq-motion-allow {
        transition: 0.8s $cubic-ease;
      }

      @include mq-max("xxl") {
        width: 116px;
        height: 116px;
      }

      @include mq-max("xl") {
        width: 96px;
        height: 96px;
      }

      @include mq-max("md") {
        width: 14vw;
        height: 14vw;
      }
    }

    &:focus {
      scale: $btn-hover-scale;
    }

    svg {
      width: 22px;
      translate: 3px 0;

      @media all {
        @include mq-max("xxl") {
          width: 20px;
        }

        @include mq-max("xl") {
          width: 16px;
        }

        @include mq-max("md") {
          width: 2.6vw;
          translate: 2px 0;
        }

        @include mq-max("sm") {
          translate: 1px 0;
        }
      }

      path {
        fill: var(--background-color);

        @include mq-motion-allow {
          transition: 0.8s $cubic-ease;
        }
      }
    }
  }

  &__dialog {
    @include row-center;
    opacity: 0;
    background: rgba($black, 0.95);
    backdrop-filter: blur(3px);
    cursor: alias;

    @include mq-motion-allow {
      transition: opacity 0.6s ease 0.4s;
    }

    iframe {
      width: 70vw;
      height: 40vw;
      border-radius: $radius;
      scale: 0.8;
      visibility: hidden;

      @include mq-motion-allow {
        transition: 0.8s ease;
      }

      @include mq-max("md") {
        width: 86vw;
        height: 72vw;
      }
    }

    .mouse-cursor {
      p {
        background: linear-gradient($grey-light, $white);
        color: var(--primary-font-color);
      }
    }

    &[open] {
      @include mq-motion-allow {
        transition: opacity 0.6s ease;
      }

      .dialog__close-btn-wrapper {
        transition: 0.3s ease 0s;
      }

      iframe {
        scale: 1;
        visibility: visible;

        @include mq-motion-allow {
          transition: 0.8s ease 0.4s;
        }
      }
    }
  }
}

.podcast-quote {
  padding: 0;

  &__blockquote {
    $indent: 16px;
    $indent-xxl: 10px;
    $indent-md: 6px;

    @extend .h5;
    position: absolute;
    top: 50%;
    color: var(--background-color);
    text-transform: lowercase;
    max-width: 792px;
    text-indent: -$indent;
    z-index: 2;

    @include mq-max("xxl") {
      text-indent: -$indent-xxl;
      max-width: 580px;
    }

    @include mq-max("lg") {
      font-size: 20px;
      max-width: 416px;
    }

    @include mq-max("md") {
      text-indent: -$indent-md;
      width: 78%;
    }

    &::first-letter {
      text-transform: capitalize;
    }

    &-guest {
      @extend .h6;
      display: block;
      translate: $indent 24px;
      color: currentColor;
      text-transform: capitalize;

      @include mq-max("xxl") {
        translate: $indent-xxl 20px;
      }

      @include mq-max("md") {
        translate: $indent-md 16px;
      }
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.5);
    }

    img {
      width: 120%;
      aspect-ratio: 2.8 / 1;
      // figure out the little black stripe

      @include mq-max("md") {
        min-height: 520px;
      }
    }
  }

  &--left {
    .podcast-quote__blockquote {
      @include left-spacing;
      translate: 12% -50%;

      @include mq-max("md") {
        translate: $body-padding-sm -50%;
      }

      @include mq-max("sm") {
        translate: $body-padding-sm -50%;
      }
    }

    .podcast-quote__image {
      img {
        @include mq-max("md") {
          object-position: 54% 50%;
        }
      }
    }
  }

  &--right {
    .podcast-quote__blockquote {
      @include right-spacing;
      translate: -12% -50%;

      @include mq-max("md") {
        translate: -$body-padding-md -50%;
      }

      @include mq-max("sm") {
        translate: -$body-padding-sm -50%;
      }
    }

    .podcast-quote__image {
      img {
        @include mq-max("md") {
          object-position: 54% 50%; // change me
        }
      }
    }
  }
}
