.post-hero {
  @include thin-section;
  @include column-center;
  padding-block: 448px;

  @include mq-max("xxl") {
    padding-block: 328px;
  }

  @include mq-max("xl") {
    padding-block: 316px;
  }

  @include mq-max("lg") {
    padding-block: 248px;
  }

  @include mq-max("md") {
    padding-block: 280px;
  }

  @include mq-max("sm") {
    padding-block-start: 224px;
    padding-inline-start: $body-padding-sm;
  }

  &__category {
    @include body-font-styles;
    align-self: center;
  }

  &__heading {
    margin-block: 12px;
    text-transform: capitalize;
  }

  // Blog
  &__author {
    @include row-center(flex-start);
    gap: 12px;
    font-size: 16px;
    font-weight: 300;

    @include mq-max("md") {
      font-size: 14px;
    }
  }

  // Podcast
  &__guest {
    @include row-center(space-between);
    gap: 12px;
    font-size: 16px;
    font-weight: 300;

    @include mq-max("md") {
      font-size: 14px;
    }
  }
}

.post-body {
  @include thin-section;

  article {
    margin-block-end: 128px;
    margin: auto;
    max-width: 1024px;

    h2 {
      @extend .h5;
    }
    h3 {
      @extend .h6;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      text-transform: initial;
    }

    p {
      @include body-font-styles;
      margin-block: 24px;
    }

    p ~ h2,
    p ~ h3 {
      margin-block-start: 64px;
    }

    p:has(img) {
      @include row-center;
      margin-block: 96px;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    ol,
    ul {
      $x-offset: 24px;

      @include column-start;
      @include body-font-styles;
      gap: 12px;
      translate: $x-offset 0;
      width: calc(100% - $x-offset);
      margin-block: 48px;

      strong {
        font-weight: 500;
      }
    }

    ul {
      @include mq-max("sm") {
        translate: 0 0;
        width: 100%;
      }
    }

    a {
      @extend .classic-link;
      color: $green;
    }
  }

  &__footer-nav {
    $link-spacing: 24px;
    $link-spacing-sm: 16px;

    padding-block: 0 128px;
    position: relative;
    z-index: 1;

    @media all {
      @include mq-max("xxl") {
        padding-block: 64px 148px;
      }
    }

    // Modifier!
    .simple-link {
      position: absolute;

      @include mq-max("sm") {
        font-size: 16px;
      }

      @include mq-max("xxs") {
        font-size: 13px;
      }

      &::before {
        display: none;
      }

      &:first-of-type {
        right: calc(50% + $link-spacing);

        @include mq-max("sm") {
          right: calc(50% + $link-spacing-sm);
        }
      }

      &:last-of-type {
        left: calc(50% + $link-spacing);

        @include mq-max("sm") {
          left: calc(50% + $link-spacing-sm);
        }
      }
    }
  }

  &.post-body__podcast {
    h2 {
      max-width: 1024px;
      margin: auto;
      text-transform: capitalize;
      margin-block-end: 64px;
    }
  }
}

.video-section {
  $btn-hover-scale: 1.25;

  @include column-center;
  min-height: 100vh;
  min-height: 100dvh;

  &__poster {
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: $radius;
    cursor: pointer;

    &:hover {
      & + .video-section__play-btn {
        scale: $btn-hover-scale;
        // border: 3px solid var(--primary-accent-color);
        // scale: 0.75;

        // svg {
        //   path {
        //     fill: var(--primary-accent-color);
        //   }
        // }
      }
    }

    &:active {
      & + .video-section__play-btn {
        scale: 1;
        // border: 2px solid var(--background-color);

        // svg {
        //   path {
        //     fill: var(--background-color);
        //   }
        // }
      }
    }
  }

  &__play-btn {
    @include absolute-center;
    @include row-center;
    border: 2px solid var(--background-color);
    width: 128px;
    height: 128px;
    border-radius: 50%;
    backdrop-filter: blur(6px);
    pointer-events: none;

    @media all {
      @include mq-motion-allow {
        transition: 0.8s $cubic-ease;
      }

      @include mq-max("xxl") {
        width: 116px;
        height: 116px;
      }

      @include mq-max("xl") {
        width: 96px;
        height: 96px;
      }

      @include mq-max("md") {
        width: 14vw;
        height: 14vw;
      }
    }

    &:focus {
      scale: $btn-hover-scale;
    }

    svg {
      width: 22px;
      translate: 3px 0;

      @media all {
        @include mq-max("xxl") {
          width: 20px;
        }

        @include mq-max("xl") {
          width: 16px;
        }

        @include mq-max("md") {
          width: 2.6vw;
          translate: 2px 0;
        }

        @include mq-max("sm") {
          translate: 1px 0;
        }
      }

      path {
        fill: var(--background-color);

        @include mq-motion-allow {
          transition: 0.8s $cubic-ease;
        }
      }
    }
  }

  &__iframe-wrapper {
    position: fixed;
    top: 0;
    @include row-center;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    opacity: 0;
    pointer-events: none;
    background: rgba($black, 0.95);
    backdrop-filter: blur(3px);
    z-index: 10;
    cursor: alias;

    @include mq-motion-allow {
      transition: 0.6s ease;
    }

    iframe {
      width: 80vw;
      height: 46vw;
      scale: 0.8;

      @include mq-motion-allow {
        transition: 0.6s ease;
      }
    }

    &.active {
      opacity: 1;
      pointer-events: all;

      iframe {
        scale: 1;
      }
    }
  }
}
