---
title: ABOUT • ESSENCE
description: "Meet the team behind ESSENCE. Our coaches are devoted to helping you navigate the confusion of adopting a more essential lifestyle."
layout: "app"
path: "about"
mainClass: "about-content"
---

<!-- used for mobile image -->
{% set mobile_image = collage_images.images[20] %}

<section class="hero-section about-hero">
  <div class="collage">
    <div class="collage-column collage-column__column-1">
      <div class="collage-column__inner collage-column__inner-1">
        <!-- prettier-ignore -->
        {% for image in collage_images.images %} 
          {% if loop.index0< 4 %}
        <figure class="collage-figure">
          <img src="{{ image.src }}" alt="{{ image.description }}" />
        </figure>
        {% endif %} {% endfor %}
      </div>
    </div>
    <div class="collage-column collage-column__column-2">
      <div class="collage-column__inner collage-column__inner-2">
        <!-- prettier-ignore -->
        {% for image in collage_images.images %} 
        {% if loop.index0 >= 4 and loop.index0 < 8 %}
        <figure class="collage-figure">
          <img src="{{ image.src }}" alt="{{ image.description }}" />
        </figure>
        {% endif %} {% endfor %}
      </div>
    </div>
    <div class="collage-column collage-column__column-3">
      <div class="collage-column__inner collage-column__inner-3">
        <!-- prettier-ignore -->
        {% for image in collage_images.images %} 
        {% if loop.index0 >= 8 and loop.index0 < 12 %}
        <figure class="collage-figure">
          <img src="{{ image.src }}" alt="{{ image.description }}" />
        </figure>
        {% endif %} {% endfor %}

        <figure class="collage-figure collage-figure__mobile-view">
          <img
            src="{{ mobile_image.src }}"
            alt="{{ mobile_image.description }}"
            loading="lazy"
          />
        </figure>
      </div>
    </div>
    <div class="collage-column collage-column__column-4">
      <div class="collage-column__inner collage-column__inner-4">
        <!-- prettier-ignore -->
        {% for image in collage_images.images %} 
        {% if loop.index0 >= 12 and loop.index0 < 16 %}
        <figure class="collage-figure">
          <img src="{{ image.src }}" alt="{{ image.description }}" />
        </figure>
        {% endif %} {% endfor %}
      </div>
    </div>
    <div class="collage-column collage-column__column-5">
      <div class="collage-column__inner collage-column__inner-5">
        <!-- prettier-ignore -->
        {% for image in collage_images.images %} 
        {% if loop.index0 >= 16 and loop.index0 < 20 %}
        <figure class="collage-figure">
          <img src="{{ image.src }}" alt="{{ image.description }}" />
        </figure>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- prettier-ignore -->
{% set paragraphClass = "essence-paragraph__about-us" %}
{% set paragraphHeading = "About Us" %}
{% set paragraphHeadingLevel = "h1" %}
{% set paragraphType = "p" %}
{% set paragraphBody = "ESSENCE is a nimble team of coaches that help people end their obsession with stuff and live more meaningful lives. We help people narrow their focus on the essential aspects of life, so they can start living with more intent." %}
{% include "partials/paragraph.html" %}

<section class="slider-section growth-section" id="recorded-growth">
  <div class="slider-header growth-header">
    <h2 class="h1 slider-header__heading">
      Recorded <br />
      growth
    </h2>
    <p class="slider-header__sub-heading">
      Where we’ve started and how far we’ve come. Each milestone reflects our
      influence in the world.
    </p>
  </div>

  <div class="slider-listing growth-list">
    {% for stat in recorded_growth.growth_stats %}
    <div class="slider-listing__group growth-list__category">
      <h3
        class="h1 slider-listing__group-heading gsap-animate growth-list__heading number-counter"
      >
        {{ stat.numbers }}
      </h3>
      <h4>{{ stat.title }}</h4>
    </div>
    {% endfor %}
  </div>
</section>

<!-- prettier-ignore -->
{% set textBlockLine1 = "We've arranged the best possible team to" %}
{% set textBlockLine2 = "help you embrace a minimalist lifestyle" %}
{% set textBlockLine3 = "and achieve greater clarity and" %}
{% set textBlockLine4 = "purpose in your daily life." %}
{% include "./_includes/partials/text-block.html" %}

<!-- prettier-ignore -->
{% set previewId = 'our-team' %} 
{% include "./_includes/partials/team.html" %}

{% set paragraphHeading = "Our Story" %} 
{% set paragraphBody = "ESSENCE began with a simple idea of helping people discover the joy of living with less. Founded by a group of passionate minimalists, we saw how the relentless pursuit of material possessions was overshadowing life's true value. We aim to inspire a shift towards more meaningful, clutter-free lives." %} 
{% include "partials/paragraph.html" %} 

{% include "partials/carousel.html" %}

{% set contactText = 'jobs@essence.com' %} {% set contactLink =
'javascript:void(0)' %} {% set contactClass = 'lowercase' %} {% set
contactSubHeader = 'Join us' %} {% include "partials/contact.html"%}
