---
title: ESSENCE • About
layout: "app"
---

<!-- used for mobile image -->
{% set image = collage_images.image[20] %}

<section class="hero-section about-hero">
  <div class="collage">
    <div class="collage-column collage-column__column-1">
      <div class="collage-column__inner collage-column__inner-1">
        <!-- prettier-ignore -->
        {% for image in collage_images.image %} 
          {% if loop.index0< 4 %}
        <figure class="collage-figure">
          <img src="{{ image.src }}" alt="{{ image.description }}" />
        </figure>
        {% endif %} {% endfor %}
      </div>
    </div>
    <div class="collage-column collage-column__column-2">
      <div class="collage-column__inner collage-column__inner-2">
        <!-- prettier-ignore -->
        {% for image in collage_images.image %} 
        {% if loop.index0 >= 4 and loop.index0 < 8 %}
        <figure class="collage-figure">
          <img src="{{ image.src }}" alt="{{ image.description }}" />
        </figure>
        {% endif %} {% endfor %}
      </div>
    </div>
    <div class="collage-column collage-column__column-3">
      <div class="collage-column__inner collage-column__inner-3">
        <!-- prettier-ignore -->
        {% for image in collage_images.image %} 
        {% if loop.index0 >= 8 and loop.index0 < 12 %}
        <figure class="collage-figure">
          <img src="{{ image.src }}" alt="{{ image.description }}" />
        </figure>
        {% endif %} {% endfor %}

        <figure class="collage-figure collage-figure__mobile-view">
          <img
            src="{{ image.src }}"
            alt="{{ image.description }}"
            loading="lazy"
          />
        </figure>
      </div>
    </div>
    <div class="collage-column collage-column__column-4">
      <div class="collage-column__inner collage-column__inner-4">
        <!-- prettier-ignore -->
        {% for image in collage_images.image %} 
        {% if loop.index0 >= 12 and loop.index0 < 16 %}
        <figure class="collage-figure">
          <img src="{{ image.src }}" alt="{{ image.description }}" />
        </figure>
        {% endif %} {% endfor %}
      </div>
    </div>
    <div class="collage-column collage-column__column-5">
      <div class="collage-column__inner collage-column__inner-5">
        <!-- prettier-ignore -->
        {% for image in collage_images.image %} 
        {% if loop.index0 >= 16 and loop.index0 < 20 %}
        <figure class="collage-figure">
          <img src="{{ image.src }}" alt="{{ image.description }}" />
        </figure>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- prettier-ignore -->
{% set paragraphClass = "essence-paragraph__about-us" %}
{% set paragraphHeading = "About Us" %}
{% set paragraphHeadingLevel = "h1" %}
{% set paragraphType = "p" %}
{% set paragraphBody = "ESSENCE is a nimble team of coaches that help people end their obsession with stuff and live more meaningful lives. We help people narrow their focus on the essential aspects of life, so they can start living with more intent." %}
{% include "partials/paragraph.html" %}

<section class="slider-section growth-section">
  <div class="slider-header growth-header">
    <h2 class="h1 slider-header__heading">
      Recorded <br />
      growth
    </h2>
    <p class="slider-header__sub-heading">
      Success has a way of speaking for itself, and the stories from those we’ve
      worked with are loud.
    </p>
  </div>

  <div class="slider-listing growth-list">
    {% for stat in recorded_growth.growth_stats %}
    <div class="slider-listing__group growth-list__category">
      <h3
        class="h1 slider-listing__group-heading gsap-animate growth-list__heading number-counter"
      >
        {{ stat.numbers }}
      </h3>
      <h4>{{ stat.title }}</h4>
    </div>
    {% endfor %}
  </div>
</section>

<!-- prettier-ignore -->
{% set textBlockBody = "We've arranged the best possible team to help you embrace a minimalist lifestyle and achieve greater clarity and purpose in your daily life." %}
{% set textBlockWidth = "lg" %}
{% include "./_includes/partials/text-block.html" %}

{% include "./_includes/partials/team.html" %}

<!-- prettier-ignore -->

{% set paragraphHeading = "Our Story" %}
{% set paragraphBody = "ESSENCE began with a simple idea of helping people discover the joy of living with less. Founded by a group of passionate minimalists, we saw how the relentless pursuit of material possessions was overshadowing life's true value. We aim to inspire a shift towards more meaningful, clutter-free lives." %}
{% include "partials/paragraph.html" %}

{% set contactText = 'jobs@essence.com' %}
{% set contactLink = 'javascript:void(0)' %}
{% set contactClass = 'lowercase' %}
{% set contactSubHeader = 'Join us' %}
{% include "partials/contact.html"%}
