---
title: ESSENCE • Contact
layout: "app"
---

<section class="hero-section home-hero">
  <h1 class="h1 home-hero__heading">
    <span>Contact Us</span>
  </h1>
  <p class="hero-section__subtext home-hero__subtext">Coming soon</p>
</section>

<!-- prettier-ignore -->
{% set paragraphClass = "essence-paragraph essence-paragraph__about-us" %} 
{% set paragraphHeading = "About Us" %} 
{% set paragraphSvgClass = "" %}
{% set paragraphType = "p" %}
{% set paragraphBodyText = "ESSENCE is a nimble team of coaches that help people end their obsession with stuff and live more meaningful lives. We help people narrow their focus on the essential aspects of life, so they can start living with more intent." %} 
{% set paragraphBodyTextClass = "" %}
{% include "partials/paragraph.html" %}

{% include "./_includes/partials/resources.html" %}
