---
title: ESSENCE • Home
layout: "app"
path: home
---

<section class="hero-section home-hero animate">
  <h1 class="h1 home-hero__heading">
    <span class="home-hero__heading-text">
      <span class="home-hero__heading-text-inner-1">Live more</span>
      <span class="home-hero__heading-text-inner-2" aria-hidden="true">
        Live more
      </span>
    </span>
    <span class="home-hero__heading-text">
      <span class="home-hero__heading-text-inner-1">with less</span>
      <span class="home-hero__heading-text-inner-2" aria-hidden="true">
        with less
      </span>
    </span>
  </h1>
  <p class="hero-section__subtext home-hero__subtext">
    <span>Values</span>
    <span class="dot"> • </span>
    <span>Priorities</span>
    <span class="dot"> • </span>
    <span>Meaning</span>
    <span class="dot"> • </span>
    <span>Intent</span>
    <span class="dot"> • </span>
    <span>Purpose</span>
  </p>
</section>

<!-- prettier-ignore -->

{% set paragraphClass = "essence-paragraph essence-paragraph__our-mission" %}
{% set paragraphHeading = "Our Mission" %}
{% set paragraphContent = "ESSENCE helps millions of people end their obsession with stuff, and live more meaningfully, with less. Driven by a desire to reshape the world, our goal is to help people narrow their focus on the essential aspects of life." %}
{% set paragraphType = "p" %}
{% set paragraphLink = "Learn More" %}
{% set paragraphLinkUrl = "/about" %}
{% set linkSize = "span-md" %}
{% include "partials/paragraph.html" %}

{% include "./_includes/partials/resources.html" %}

{% set paragraphClass = "essence-paragraph essence-paragraph__media-praises" %}
{% set paragraphHeading = "Media Praises" %}
{% set paragraphContent = "ESSENSE proves that simplicity can indeed be revolutionary. Their minimalist approach to everyday trials not only declutters physical spaces but also sharpens mental focus. A wise choice for anyone seeking to elevate their daily life with direct solutions." %}
{% set paragraphType = "blockquote" %}
{% set paragraphLink = "View All" %}
{% set paragraphLinkUrl = "/about/#reviews" %}
{% set linkSize = "span-sm" %}
{% set paragraphSubHeader = "Rev Seminar" %}
{% include "partials/paragraph.html" %}
