---
title: ESSENCE • Resources
layout: "app"
---

<!-- prettier-ignore -->
{% set paragraphClass = "hero-section hero-paragraph" %} 
{% set paragraphHeading = "Our Resources" %}
{% set paragraphHeadingLevel = "h1" %}
{% set paragraphType = "p" %}
{% set paragraphBody = "ESSENCE resources are designed to empower you on your journey to simplicity and purpose. Whether you're looking to declutter your home, streamline your schedule, or focus on what truly matters, we provide the tools and guidance you need." %} 
{% include "partials/paragraph.html" %}

<section class="slider-section growth-section">
  <div class="slider-header growth-header">
    <h2 class="h1 slider-header__heading">Services</h2>
    <p class="slider-header__sub-heading">
      We empower change in three distinct ways: by removing physical, emotional,
      and financial clutter and disarray.
    </p>
    <a href="/contact" class="slider-header__cta simple-link tab-element-page">
      <span class="simple-link__span-outter span-md">
        <span class="simple-link__span-inner">Get started</span>
        <span class="simple-link__span-inner" aria-hidden="true">
          Get started
        </span>
      </span>
      <svg
        class="icon-arrow-right slider-header__services-svg"
        width="16"
        height="10"
        viewBox="0 0 16 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 5H14L11 1L15 5L11 9L14.5 5"
          stroke="#0E0E0E"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-elem-1"
        ></path>
      </svg>
    </a>
  </div>

  <div class="slider-listing">
    <div class="slider-listing__group" id="physical-clutter">
      <h3 class="slider-listing__group-heading">
        <span class="group-heading-indicator">01</span> Physical
      </h3>
      <ul class="slider-listing__group-list">
        <li class="gsap-animate">Home Organization</li>
        <li class="gsap-animate">Decluttering Workshops</li>
        <li class="gsap-animate">Minimalist Living Consultations</li>
        <li class="gsap-animate">Space Optimization</li>
        <li class="gsap-animate">Simplified Moving Services</li>
        <li class="gsap-animate">Capsule Wardrobe Creation</li>
        <li class="gsap-animate">Sustainable Living Guides</li>
        <li class="gsap-animate">Decluttering Challenges</li>
        <li class="gsap-animate">Storage Solutions</li>
        <li class="gsap-animate">Green Cleaning Techniques</li>
        <li class="gsap-animate">Essential Items Lists</li>
      </ul>
    </div>
    <div class="slider-listing__group" id="emotional-clutter">
      <h3 class="slider-listing__group-heading">
        <span class="group-heading-indicator">02</span> Emotional
      </h3>
      <ul class="slider-listing__group-list">
        <li class="gsap-animate">Mindfulness Coaching</li>
        <li class="gsap-animate">Stress Reduction Techniques</li>
        <li class="gsap-animate">Guided Meditation Sessions</li>
        <li class="gsap-animate">Mental Detox Programs</li>
        <li class="gsap-animate">Self-Care Rituals</li>
        <li class="gsap-animate">Life Balance Workshops</li>
        <li class="gsap-animate">Journaling Prompts and Exercises</li>
        <li class="gsap-animate">Counseling and Therapy Referrals</li>
        <li class="gsap-animate">Gratitude Practices</li>
        <li class="gsap-animate">Mental Clarity Exercises</li>
        <li class="gsap-animate">Goal Setting and Achievement</li>
        <li class="gsap-animate">Relationship Simplification Strategies</li>
      </ul>
    </div>
    <div class="slider-listing__group" id="financial-clutter">
      <h3 class="slider-listing__group-heading">
        <span class="group-heading-indicator">03</span> Financial
      </h3>
      <ul class="slider-listing__group-list">
        <li class="gsap-animate">Budget Planning</li>
        <li class="gsap-animate">Debt Reduction Strategies</li>
        <li class="gsap-animate">Minimalist Money Management</li>
        <li class="gsap-animate">Financial Wellness Coaching</li>
        <li class="gsap-animate">Investment Simplification</li>
        <li class="gsap-animate">Expense Tracking Tools</li>
        <li class="gsap-animate">Financial Freedom Workshops</li>
        <li class="gsap-animate">Savings Plans</li>
        <li class="gsap-animate">Simplified Tax Preparation</li>
        <li class="gsap-animate">Frugal Living Tips</li>
        <li class="gsap-animate">Financial Goal Setting</li>
        <li class="gsap-animate">Wealth Mindset Coaching</li>
      </ul>
    </div>
  </div>
</section>

{% include "partials/contact.html" %}
