---
title: "ESSENCE • Podcasts"
layout: archives
category: "Podcast"

paragraphHeading: "Our Podcast"
paragraphHeadingLevel: "h1"
paragraphClass: "essence-paragraph hero-section hero-paragraph"
paragraphContent: "ESSENCE audio experiences are your gateway to a world of thoughtful dialogue and transformative insights. Every episode is an invitation to engage with experts and enthusiasts who believe in the power of less. Discover the sounds of simplicity with us."

subheading: "Tune in to explore innovative ideas and practical strategies for simplifying your life and enhancing your focus."
---

{% set listContent = collections.podcasts | sort(attribute='data.title') %}

<div class="archive-list__category">
  <h3 class="archive-list__heading">Most popular</h3>
  <!-- prettier-ignore -->
  {% for post in listContent | reverse %} 
    {% if "popular" in post.data.tags %}
  <a
    href="{{ post.url | url }}"
    class="archive-list__link tab-element-page classic-link"
  >
    {{ post.data.title | default('Untitled') }}
  </a>
  {% endif %} {% endfor %}
  <!-- prettier-ignore -->
</div>

<div class="archive-list__category">
  <h3 class="archive-list__heading">Episodes</h3>

  {% for post in listContent %}

  <a
    href="{{ post.url | url }}"
    class="archive-list__link tab-element-page classic-link"
  >
    <!-- prettier-ignore -->
    {% if post.data.title %} 
              {{ post.data.title }} 
          {% else %} 
              Untitled 
          {%endif %}
    <!-- prettier-ignore -->
  </a>
  {% endfor %}
</div>
