<section class="carousel" id="reviews">
  <h2 class="h6">
    Media Praises
    <svg
      class="icon-arrow-angled-down gsap-animate"
      width="13"
      height="16"
      viewBox="0 0 13 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      title="icon-arrow-angle-down"
    >
      <path
        d="M1 1.00005C9 0.9998 8 0 8 14L4 11.0001L8 15.0003L12 11.0001L8 14.5"
        stroke="black"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>
  </h2>

  <div class="carousel-wrapper" aria-live="polite">
    {% for block in partial_carousel.testimonials %}
    <div class="slide" role="group" aria-roledescription="slide">
      <div class="slide-text">
        <h2 class="slide-text__name">
          <span class="slide-text__name-inner">{{ block.name }}</span>
        </h2>
        <h3 class="slide-text__role h6">{{ block.role }}</h3>
        <blockquote class="slide-text__quote">“{{ block.quote }}”</blockquote>
      </div>

      <img src="{{ block.img }}" alt="" />
    </div>
    {% endfor %}

    <div class="carousel-controls"></div>
  </div>
</section>
