<header class="site-header" aria-label="Site Header">
  <a
    class="header-logo"
    href="/"
    aria-label="Essence logo link. Click to return home."
  >
    <img
      class="header-logo__icon"
      src="../static/img/essence-logo-icon-dark.svg"
      alt="Essence Logo"
    />
    <span class="header-logo__text" role="presentation" aria-hidden="true">
      <span class="letter-wrapper">
        <span class="letter-wrapper__letter">e</span>
        <span class="letter-wrapper__letter">e</span>
        <span class="letter-wrapper__letter">e</span>
      </span>
      <span class="letter-wrapper">
        <span class="letter-wrapper__letter">s</span>
        <span class="letter-wrapper__letter">s</span>
        <span class="letter-wrapper__letter">s</span>
      </span>
      <span class="letter-wrapper">
        <span class="letter-wrapper__letter">s</span>
        <span class="letter-wrapper__letter">s</span>
        <span class="letter-wrapper__letter">s</span>
      </span>
      <span class="letter-wrapper">
        <span class="letter-wrapper__letter">e</span>
        <span class="letter-wrapper__letter">e</span>
        <span class="letter-wrapper__letter">e</span>
      </span>
      <span class="letter-wrapper">
        <span class="letter-wrapper__letter">n</span>
        <span class="letter-wrapper__letter">n</span>
        <span class="letter-wrapper__letter">n</span>
      </span>
      <span class="letter-wrapper">
        <span class="letter-wrapper__letter">c</span>
        <span class="letter-wrapper__letter">c</span>
        <span class="letter-wrapper__letter">c</span>
      </span>
      <span class="letter-wrapper">
        <span class="letter-wrapper__letter">e</span>
        <span class="letter-wrapper__letter">e</span>
        <span class="letter-wrapper__letter">e</span>
      </span>
    </span>
  </a>

  <!-- VISIT: _data > navidation.yaml -->
  {% if navigation.items %}

  <ul class="header-links">
    {% for item in navigation.items %}
    <li>
      <a class="header-links__link tab-element-page" href="{{ item.url }}">
        {{ item.text }}
      </a>
    </li>
    {% endfor %}
    <li class="header-links__underline"></li>
  </ul>

  {% endif %}

  <div class="menu-btn__wrapper">
    <button
      class="menu-btn"
      type="button"
      aria-controls="site-navigation"
      aria-label="Toggle navigation menu"
      aria-expanded="false"
    >
      <div class="dots-wrapper">
        <span class="dots-wrapper__dot top-left"></span>
        <span class="dots-wrapper__dot top-right"></span>
        <span class="dots-wrapper__dot center-dot"></span>
        <span class="dots-wrapper__dot bottom-left"></span>
        <span class="dots-wrapper__dot bottom-right"></span>
      </div>
    </button>
  </div>

  {% include "./social-media.html" %}

  <div class="cta-wrapper">
    <button type="button" class="cta">
      <span>Join</span>
      <span>Newsletter</span>
      <img
        class="cta__icon"
        src="../../static/img/icons/email.svg"
        alt="email icon"
      />
    </button>
  </div>
</header>
