<header class="site-header" aria-label="Site Header">
  <a
    class="header-logo"
    href="../../index.html"
    aria-label="Essence logo link. Click to return home."
  >
    <img
      class="header-logo__icon"
      src="../static/img/essence-logo-icon-dark.svg"
      alt="Essence Logo"
    />
    <span class="header-logo__text" role="presentation" aria-hidden="true">
      <span class="letter-wrapper">
        <span class="letter-wrapper__letter">e</span>
        <span class="letter-wrapper__letter">e</span>
      </span>
      <span class="letter-wrapper">
        <span class="letter-wrapper__letter">s</span>
        <span class="letter-wrapper__letter">s</span>
      </span>
      <span class="letter-wrapper">
        <span class="letter-wrapper__letter">s</span>
        <span class="letter-wrapper__letter">s</span>
      </span>
      <span class="letter-wrapper">
        <span class="letter-wrapper__letter">e</span>
        <span class="letter-wrapper__letter">e</span>
      </span>
      <span class="letter-wrapper">
        <span class="letter-wrapper__letter">n</span>
        <span class="letter-wrapper__letter">n</span>
      </span>
      <span class="letter-wrapper">
        <span class="letter-wrapper__letter">c</span>
        <span class="letter-wrapper__letter">c</span>
      </span>
      <span class="letter-wrapper">
        <span class="letter-wrapper__letter">e</span>
        <span class="letter-wrapper__letter">e</span>
      </span>
    </span>
  </a>

  <ul class="header-links">
    <li class="">
      <a class="header-links__link tab-element-page" href="blog">Blog</a>
    </li>
    <li class="">
      <a class="header-links__link tab-element-page" href="">Podcast</a>
    </li>
    <li class="">
      <a class="header-links__link tab-element-page" href="">Books</a>
    </li>
    <li class="">
      <a class="header-links__link tab-element-page" href="">Films</a>
    </li>
    <li class="">
      <a class="header-links__link tab-element-page" href="">Events</a>
    </li>
    <li class="">
      <a class="header-links__link tab-element-page" href="">Resources</a>
    </li>
    <li class="">
      <a class="header-links__link tab-element-page" href="">About</a>
    </li>
    <li class="">
      <a class="header-links__link tab-element-page" href="">Patreon</a>
    </li>
  </ul>

  <div class="menu-btn-wrapper">
    <button
      class="menu-btn"
      aria-controls="site-navigation"
      aria-label="Toggle navigation menu"
      aria-expanded="false"
    >
      <div class="menu-btn-dots-wrapper">
        <span class="menu-btn-dot top-left"></span>
        <span class="menu-btn-dot top-center"></span>
        <span class="menu-btn-dot top-right"></span>

        <span class="menu-btn-dot middle-left"></span>
        <span class="menu-btn-dot middle-center"></span>
        <span class="menu-btn-dot middle-right"></span>

        <span class="menu-btn-dot bottom-left"></span>
        <span class="menu-btn-dot bottom-center"></span>
        <span class="menu-btn-dot bottom-right"></span>
      </div>
    </button>
  </div>
</header>
