<header class="site-header" aria-label="Site Header">
  <a class="header-logo" href="../../index.html">
    <img
      class="header-logo__icon"
      src="../static/img/essence-full-logo-dark.svg"
      alt="ESSENCE Logo"
    />
  </a>

  <ul class="header-links">
    <li class="">
      <a class="header-links__link" href="blog">Blog</a>
    </li>
    <li class="">
      <a class="header-links__link" href="">Podcast</a>
    </li>
    <li class="">
      <a class="header-links__link" href="">Books</a>
    </li>
    <li class="">
      <a class="header-links__link" href="">Films</a>
    </li>
    <li class="">
      <a class="header-links__link" href="">Events</a>
    </li>
    <li class="">
      <a class="header-links__link" href="">Resources</a>
    </li>
    <li class="">
      <a class="header-links__link" href="">About</a>
    </li>
    <li class="">
      <a class="header-links__link" href="">Patreon</a>
    </li>
  </ul>

  <div class="menu-btn-wrapper">
    <button
      class="menu-btn"
      aria-controls="site-navigation"
      aria-label="Toggle navigation menu"
      aria-expanded="false"
    >
      <div class="menu-btn-dots-wrapper">
        <span class="menu-btn-dot top-left"></span>
        <span class="menu-btn-dot top-center"></span>
        <span class="menu-btn-dot top-right"></span>

        <span class="menu-btn-dot middle-left"></span>
        <span class="menu-btn-dot middle-center"></span>
        <span class="menu-btn-dot middle-right"></span>

        <span class="menu-btn-dot bottom-left"></span>
        <span class="menu-btn-dot bottom-center"></span>
        <span class="menu-btn-dot bottom-right"></span>
      </div>
    </button>
  </div>
</header>
