<nav
  class="nav-menu"
  id="site-navigation"
  aria-label="Main Navigation"
  aria-hidden="true"
>
  <div class="width-constraint">
    <div class="nav-img-container">
      {% for image in nav_images.images %}
      <img src="{{ image.src }}" alt="{{ image.title }}" class="nav-img" />
      {% endfor %}
    </div>

    {% if navigation.items %}

    <ul class="nav-links">
      {% for item in navigation.items %}
      <li>
        <a class="nav-link tab-element-nav" href="{{ item.url }}">
          <span class="nav-link__number" role="presentation" aria-hidden="true">
            {{item.index}}
          </span>
          <span class="nav-link__text"> {{ item.text }} </span>
        </a>
      </li>
      {% endfor %}
    </ul>

    {% endif %}
  </div>
  <div class="nav-abstract"></div>
</nav>
