<nav
  class="nav-menu"
  id="site-navigation"
  aria-label="Main Navigation"
  aria-hidden="true"
>
  <div class="width-constraint backdrop backdrop__nav">
    {% if site_navigation.links %}
    <div class="nav-img-container">
      {% for link in site_navigation.links %}
      <img src="{{ link.img_src }}" alt="{{ link.img_alt }}" class="nav-img" />
      {% endfor %}
    </div>

    <ul class="nav-links">
      {% for link in site_navigation.links %}
      <li>
        <a class="nav-link tab-element-nav" href="{{ link.url }}">
          <span class="nav-link__number" role="presentation" aria-hidden="true">
            0{{ loop.index }}
          </span>
          <span class="nav-link__text"> {{ link.title }} </span>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="nav-abstract backdrop backdrop__nav-abstract"></div>
</nav>
