<section class="{{ paragraphClass }}">
  {% if paragraphHeading %}
  <h2 class="essence-paragraph__heading">
    {{ paragraphHeading }}
    <!-- <img
      class="icon-arrow-down"
      src="./static/img/icons/angle-arrow-down.svg"
      alt="decorative angled arrow"
      role="presentation"
    /> -->
    <svg
      class="essence-paragraph__heading-svg"
      width="13"
      height="16"
      viewBox="0 0 13 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 1.00005C9 0.9998 8 0 8 14L4 11.0001L8 15.0003L12 11.0001L8 14.5"
        stroke="black"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>
  </h2>
  {%endif%}

  <!-- prettier-ignore -->
  {%if paragraphContent %}
  <!-- prettier-ignore -->
  {% if paragraphType == "blockquote" %}
  <blockquote class="essence-paragraph__body-text">
    “{{ paragraphContent }}”
  </blockquote>
  {% else %}
  <p class="essence-paragraph__body-text">{{ paragraphContent }}</p>
  {% endif %}
  <!-- prettier-ignore -->
  {% endif %}
  <!-- prettier-ignore -->

  {%if paragraphLink %}
  <a class="essence-paragraph__link simple-link tab-element-page" href="/about">
    {{ paragraphLink }}
    <img
      class="icon-arrow-right"
      src="./static/img/icons/arrow-right.svg"
      alt="decorative right arrow"
      role="presentation"
    />
  </a>
  {%endif%}
</section>
