<section class="essence-paragraph {{ paragraphClass }}">
  {% if paragraphHeading %} {% if paragraphHeadingLevel == "h1" %}
  <h1 class="essence-paragraph__heading">
    <span class="essence-paragraph__heading-title-wrapper show-element__parent">
      <span class="essence-paragraph__heading-title show-element__child">
        {{ paragraphHeading }}
      </span>
    </span>
    <svg
      class="essence-paragraph__heading-svg gsap-animate"
      width="13"
      height="16"
      viewBox="0 0 13 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      title="icon-arrow-angle-down"
    >
      <path
        d="M1 1.00005C9 0.9998 8 0 8 14L4 11.0001L8 15.0003L12 11.0001L8 14.5"
        stroke="black"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>
  </h1>
  {% else %}
  <h2 class="essence-paragraph__heading">
    <span class="essence-paragraph__heading-title-wrapper show-element__parent">
      <span class="essence-paragraph__heading-title show-element__child">
        {{ paragraphHeading }}
      </span>
    </span>
    <svg
      class="essence-paragraph__heading-svg gsap-animate"
      width="13"
      height="16"
      viewBox="0 0 13 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      title="icon-arrow-angle-down"
    >
      <path
        d="M1 1.00005C9 0.9998 8 0 8 14L4 11.0001L8 15.0003L12 11.0001L8 14.5"
        stroke="black"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>
  </h2>
  {%endif%} {%endif%}

  <!-- prettier-ignore -->
  {%if paragraphBody %}
  <!-- prettier-ignore -->
  {% if paragraphType == "blockquote" %}
  <blockquote class="essence-paragraph__body-text gsap-animate">
    “{{ paragraphBody }}”
  </blockquote>
  {% else %}
  <p class="essence-paragraph__body-text gsap-animate">{{ paragraphBody }}</p>
  {% endif %}
  <!-- prettier-ignore -->
  {% endif %}
  <!-- prettier-ignore -->

  {%if paragraphLink or paragraphSubHeader %}
  <div class="essence-paragraph__footer">
    {%if paragraphLink %}
    <a
      class="essence-paragraph__link simple-link tab-element-page"
      href="{{ paragraphLinkUrl }}"
    >
      <span class="simple-link__span-outter {{ linkSize }}">
        <span class="simple-link__span-inner"> {{ paragraphLink }} </span>
        <span class="simple-link__span-inner" aria-hidden="true">
          {{ paragraphLink }}
        </span>
      </span>
      <svg
        class="icon-arrow-right gsap-animate"
        width="16"
        height="10"
        viewBox="0 0 16 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 5H14L11 1L15 5L11 9L14.5 5"
          stroke="#0E0E0E"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-elem-1"
        ></path>
      </svg>
    </a>
    <!-- prettier-ignore -->
    {%endif%} 
    {%if paragraphSubHeader %}
    <h3 class="h6 essence-paragraph__subheader">
      — <cite>{{ paragraphSubHeader }}</cite>
    </h3>
    {%endif%}
  </div>
  {%endif%}
</section>
