<section class="essence-resources">
  <div class="essence-resources__header">
    <h2 class="essence-resources__heading">
      <span>Areas we</span>
      <span>focus on</span>
    </h2>
    <a
      class="essence-resources__link simple-link tab-element-page"
      href="/resources"
    >
      <span class="simple-link__letters" aria-label="view resources">
        <span class="simple-link__letter">V</span>
        <span class="simple-link__letter">i</span>
        <span class="simple-link__letter">e</span>
        <span class="simple-link__letter">w</span>
        &nbsp;
        <span class="simple-link__letter">R</span>
        <span class="simple-link__letter">e</span>
        <span class="simple-link__letter">s</span>
        <span class="simple-link__letter">o</span>
        <span class="simple-link__letter">u</span>
        <span class="simple-link__letter">r</span>
        <span class="simple-link__letter">c</span>
        <span class="simple-link__letter">e</span>
        <span class="simple-link__letter">s</span>
      </span>
      <img
        class="icon-arrow-right"
        src="./static/img/icons/arrow-right.svg"
        alt="decorative right arrow"
        role="presentation"
      />
    </a>
  </div>

  <div class="essence-resources__images">
    <figure>
      <img
        src="./static/img/photos/resources-img-1.png"
        alt="An open cardboard box next to scissors and tape."
      />
      <figcaption>01. Physical Clutter</figcaption>
    </figure>
    <figure>
      <img
        src="./static/img/photos/resources-img-2.png"
        alt="An open cardboard box next to scissors and tape."
      />
      <figcaption>02. Emotional Clutter</figcaption>
    </figure>
    <figure>
      <img
        src="./static/img/photos/resources-img-3.png"
        alt="An open cardboard box next to scissors and tape."
      />
      <figcaption>03. Financial Clutter</figcaption>
    </figure>
  </div>
</section>
