<section class="essence-resources">
  <div class="essence-resources__header">
    <h2 class="h3 essence-resources__heading">
      <span class="show-element__parent">
        <span class="show-element__child">Areas we</span>
      </span>
      <span class="show-element__parent">
        <span class="show-element__child">focus on</span>
      </span>
    </h2>
    <a
      class="essence-resources__link simple-link tab-element-page sm-screen-and-up"
      href="/resources"
    >
      <span class="simple-link__span-outter">
        <span class="simple-link__span-inner">View Resources</span>
        <span class="simple-link__span-inner" aria-hidden="true">
          View Resources
        </span>
      </span>
      <img
        class="icon-arrow-right"
        src="./static/img/icons/arrow-right.svg"
        alt="decorative right arrow"
        role="presentation"
      />
    </a>
  </div>

  <div class="essence-resources__images">
    <figure>
      <a href="/resources#clutter" class="wave-img-wrapper">
        <img
          src="./static/img/photos/resources-img-1.png"
          alt="An open cardboard box next to scissors and tape."
          loading="lazy"
          class="wave-img"
        />
      </a>
      <figcaption>01. Physical Clutter</figcaption>
    </figure>
    <figure>
      <a href="/resources#clutter" class="wave-img-wrapper">
        <img
          src="./static/img/photos/resources-img-2.png"
          alt="A young man with his sillouete showing grafitti"
          loading="lazy"
          class="wave-img"
        />
      </a>
      <figcaption>02. Emotional Clutter</figcaption>
    </figure>
    <figure>
      <a href="/resources#clutter" class="wave-img-wrapper">
        <img
          src="./static/img/photos/resources-img-3.png"
          alt="A restaurant lunch sack"
          loading="lazy"
          class="wave-img"
        />
      </a>
      <figcaption>03. Financial Clutter</figcaption>
    </figure>
  </div>

  <a
    class="essence-resources__link-sm simple-link tab-element-page sm-screen-and-below"
    href="/resources"
  >
    <span class="simple-link__span-outter">
      <span class="simple-link__span-inner">View Resources</span>
      <span class="simple-link__span-inner" aria-hidden="true">
        View Resources
      </span>
    </span>
    <img
      class="icon-arrow-right"
      src="./static/img/icons/arrow-right.svg"
      alt="decorative right arrow"
      role="presentation"
    />
  </a>
</section>
