<section class="essence-resources" id="{{ previewId }}">
  <div class="essence-resources__header">
    <h2 class="h3 essence-resources__heading">
      <span class="show-element__parent">
        <span class="show-element__child">Areas we</span>
      </span>
      <span class="show-element__parent">
        <span class="show-element__child">focus on</span>
      </span>
    </h2>
    <a
      class="essence-resources__link simple-link tab-element-page sm-screen-and-up"
      href="/resources"
    >
      <span class="simple-link__span-outter">
        <span class="simple-link__span-inner">View Resources</span>
        <span class="simple-link__span-inner" aria-hidden="true">
          View Resources
        </span>
      </span>
      <svg
        class="icon-arrow-right gsap-animate"
        width="16"
        height="10"
        viewBox="0 0 16 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 5H14L11 1L15 5L11 9L14.5 5"
          stroke="#0E0E0E"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="svg-elem-1"
        ></path>
      </svg>
    </a>
  </div>

  <div class="essence-resources__images">
    {% for category in partial_resources.categories %}
    <figure class="gsap-animate">
      <a
        href="/resources#{{ category.tag | lower }}-clutter"
        class="wave-img-wrapper"
      >
        <img
          src="{{ category.src }}"
          alt="{{ category.alt }}"
          loading="lazy"
          class="wave-img"
        />
      </a>
      <figcaption>0{{ loop.index }}. {{ category.tag}} Clutter</figcaption>
    </figure>
    {% endfor %}
  </div>

  <a
    class="essence-resources__link-sm simple-link tab-element-page sm-screen-and-below"
    href="/resources"
  >
    <span class="simple-link__span-outter">
      <span class="simple-link__span-inner">View Resources</span>
      <span class="simple-link__span-inner" aria-hidden="true">
        View Resources
      </span>
    </span>
    <svg
      class="icon-arrow-right gsap-animate"
      width="16"
      height="10"
      viewBox="0 0 16 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 5H14L11 1L15 5L11 9L14.5 5"
        stroke="#0E0E0E"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="svg-elem-1"
      ></path>
    </svg>
  </a>
</section>
