{% if social_media.links %}

<div class="social-media-wrapper">
  <ul class="social-media-links">
    {% for item in social_media.links %}
    <li class="magnet magnet-strong">
      <a
        href="{{item.url}}"
        target="_blank"
        rel="no-referrer"
        class="social-media-link"
      >
        <span class="social-media-icon-wrapper">
          <img src="{{item.src}}" alt="{{item.title}}" />
          <img src="{{item.src}}" alt="{{item.title}}" />
        </span>
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="social-media-toggle">
    <img
      class="social-media-toggle__icon"
      src="../../static/img/icons/icon-social-links.svg"
      alt="social media toggle icon"
    />
    <span class="social-media-toggle__label">Connect</span>
  </div>
</div>

{% endif %}
