<section class="essence-team pinned-section">
  <div class="essence-resources__header">
    <h2 class="h5 essence-resources__heading">
      <span>Meet Our Mentors</span>
    </h2>
  </div>

  <div class="pinned-slider">
    <div class="pinned-slider__inner team-portraits">
      {% for image in team_portraits.images %}
      <figure class="portrait">
        <div class="portrait-wrapper">
          <img src="{{ image.src }}" alt="{{ image.description }}" />
        </div>
        <figcaption>{{ image.caption }}</figcaption>
      </figure>
      {% endfor %}
    </div>
  </div>
</section>
