<section class="essence-team pinned-section" id="{{ myId }}">
  <div class="essence-team__header">
    <h2 class="h5 essence-team__heading">
      <span>Meet the team</span>
    </h2>
  </div>

  <div class="pinned-img-slider">
    <div class="pinned-img-slider__inner">
      {% for image in team_portraits.images %}
      <figure class="portrait">
        <div class="portrait-wrapper">
          <img
            src="{{ image.src }}"
            alt="{{ image.description }}"
            loading="lazy"
          />
        </div>
        <figcaption>{{ image.caption }}</figcaption>
      </figure>
      {% endfor %}
    </div>
  </div>
</section>
